<template>
  <div class="editor-menu"
       :class="{
        'hide-content': !menuOpen,
        'editor-menu_menu-open': menuOpen,
        'editor-menu_sub-menu-open': subMenuOpen,
    }"
       @click="hideInfoModal"
  >
    <div class="editor-menu__header"
         :class="{
          'none-width': !menuOpen
      }"
    >
      <button
        class="editor-menu__close-btn left-side"
        :class="{
            'editor-menu__close-btn_open z-index': menuOpen,
            'z-index': !menuOpen
        }"
        @click="toggleMenu"
        v-tooltip="menuOpen ? 'Скрыть меню' : 'Показать меню'"
      >
        <ArrowIcon/>
      </button>
      Маршрут
    </div>
    <div class="editor-menu__container" v-bar v-if="menuOpen">
      <div class="editor-menu__content">
        <div class="editor-description">
          <div class="editor-description__title" v-if="!cablewayEdit">Выберите вариант описания</div>
          <div class="editor-description__toggle-container">
            <div class="editor-description__toggle" v-if="!cablewayEdit">
              <span
                class="editor-description-toggle__item"
                :class="{
                  'editor-description-toggle__item_active': editorData.description.type === 'standart'
                }"
                @click="changeDescriptionType('standart')"
              >
                Обычный
              </span>
              <span
                class="editor-description-toggle__item"
                :class="{
                  'editor-description-toggle__item_active': editorData.description.type === 'extended'
                }"
                @click="changeDescriptionType('extended')"
              >
                Расширенный
              </span>
            </div>
          </div>
          <div class="editor-description__tab" v-if="editorData.description.type === 'standart'">
            <div class="editor-menu-item">
              <v-text-field
                label="Название идеи"
                v-model="editorData.newProposal.title"
                :autofocus="true"
                :error="!editorData.viewMode && (editorData.newProposal.title.length > 90 || !editorData.newProposal.title.trim().length)"
                :disabled="editorData.viewMode"
                :hint="formTitleHint"
                maxlength="90"
              ></v-text-field>
            </div>
            <div v-if="(editorData.viewMode && editorData.newProposal.reason) || !editorData.viewMode"
                 class="editor-menu-item">
              <v-textarea
                class="editor-menu-item__reason custom-scroll"
                label="Описание идеи"
                v-model="editorData.newProposal.reason"
                :error="!editorData.viewMode && (editorData.newProposal.reason.length > 1500)"
                :disabled="editorData.viewMode"
                :hint="formReasonHint"
                maxlength="1500"
                auto-grow
                rows="1"
              ></v-textarea>
            </div>
          </div>
          <div class="editor-description__tab" v-if="editorData.description.type === 'extended' && !cablewayEdit">
            <div class="editor-menu-item">
              <v-text-field
                label="Начало маршрута"
                placeholder="Откуда"
                v-model="editorData.description.routeStart"
                :autofocus="true"
                :disabled="editorData.viewMode"
                :error="!editorData.viewMode && (editorData.description.routeStart.length > 90)"
                :hint="formRouteStartHint"
                maxlength="90"
              ></v-text-field>
            </div>
            <div class="editor-menu-item">
              <v-text-field
                label="Конец маршрута"
                placeholder="Куда"
                v-model="editorData.description.routeFinish"
                :disabled="editorData.viewMode"
                :error="!editorData.viewMode && (editorData.description.routeFinish.length > 90)"
                :hint="formRouteFinishHint"
                maxlength="90"
              ></v-text-field>
            </div>
            <div class="editor-menu-item">
              <v-select
                label="Дни недели"
                v-model="editorData.description.weekDays"
                :items="editorData.description.weekDaysItems"
                :disabled="editorData.viewMode"
              ></v-select>
            </div>
            <div class="editor-menu-item">
              <v-select
                label="Время суток"
                v-model="editorData.description.dayTime"
                :items="editorData.description.dayTimeItems"
                :disabled="editorData.viewMode"
              ></v-select>
            </div>
            <div class="editor-menu-item">
              <v-select
                label="Тип транспортного средства"
                v-model="editorData.description.typeTS"
                :items="editorData.description.typeTSItems"
                :disabled="editorData.viewMode"
              ></v-select>
            </div>
            <div class="editor-menu-item">
              <v-text-field
                label="Желаемый интервал движения, мин."
                v-model="editorData.description.interval"
                :disabled="editorData.viewMode"
                :error="!editorData.viewMode && (editorData.description.interval.length === 0 ? false : !Number.isInteger(+editorData.description.interval))"
                :hint="formIntervalHint"
                maxlength="4"
              ></v-text-field>
            </div>
          </div>
        </div>
        <div
          v-for="(prop, propName) in routeProperties"
          v-if="!prop.hidden"
          :key="propName"
          class="editor-menu-item"
          :class="{
                        'editor-menu-item_input': prop.type === 'input'
                    }"
        >
          <div
            v-if="prop.type === 'text'"
          >
            <div class="editor-menu-item__title">{{prop.title}}</div>
            <div class="editor-menu-item__text">
              <span>{{prop.value}}</span> {{prop.value === '-' ? '' : prop.unit}}
              <span v-if="prop.diff">
                (
                  <span

                    :style="{
                  color: prop.diffColor
                }"
                  >
              {{prop.diff > 0 ? `${!prop.hideDiffAutoSign ? '+' : ''}${prop.diff}` : prop.diff}} {{prop.unit}}
            </span>
                )
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="editor-sub-menu"
      :class="{
        'editor-sub-menu_open': subMenuOpen
      }"

    >
      <div class="editor-menu__header editor-menu__header_sub">
        <span v-show="subMenuOpen">Остановки</span>
        <button
          class="editor-menu__close-btn"
          :class="{
                        'editor-menu__close-btn_open': subMenuOpen
                    }"
          @click="toggleSubMenu"
          v-tooltip="subMenuOpen ? 'Скрыть меню' : 'Показать меню'"
        >
          <ArrowIcon/>
        </button>
      </div>

      <div
        v-show="subMenuOpen"
        v-for="(route, routeType) in editorData.stopsList"
        :key="routeType"
        v-if="cablewayEdit ? routeType === 'mainRoute' : true"
        class="editor-menu__container editor-menu__container_sub"
        :class="{
          'editor-menu__container_sub-active': routeType === editorData.activeRoute
        }"
        @click="changeActiveRoute(routeType)"
      >
        <div
          v-if="subMenuOpen"
          class="editor-menu-stops__header"
          :class="{
            'editor-menu-stops__header_main-route': routeType === 'mainRoute',
            'editor-menu-stops__header_back-route': routeType === 'backRoute'
          }"
        >
          {{route.name}}
        </div>
        <div class="editor-menu-stops__container">
          <div
            class="editor-menu-stops__add"
            v-if="!editorData.viewMode"
          >
            <button
              class="editor-menu-stops__add-btn"
              @click="addStop(routeType, 0)"
            >
              <AddIcon2 class="editor-menu-stops__add-icon"/>
              <span class="editor-menu-stops__add-text">Добавить остановку в начало</span>
            </button>
          </div>
          <div class="editor-menu__container" v-bar>
            <div class="editor-menu__content">
              <div class="editor-menu-stops">
                <div class="editor-menu-stops__items">
                  <draggable v-model="route.stops" @start="dragStart" @end="dragEnd"
                             :disabled="editorData.viewMode">
                    <div
                      class="editor-menu-stops__field"
                      :class="{
                                            'editor-menu-stops__field_no-type': !stop || (stop && !stop.type)
                                        }"
                      v-for="(stop, i) in route.stops"
                      @mouseenter="highLightStop(stop)"
                      @mouseleave="highLightStop()"
                      @click="stopIconClick(routeType, i)"
                      :key="i"
                    >
                      <DraggedIcon class="editor-menu-stops__drag-icon"/>
                      <span
                        v-if="stop && stop.type"
                        class="editor-menu-stops__icon"
                      >
                        <span
                          class="editor-menu-stops__ngpt-icon"
                          :class="[
                            'editor-menu-stops__ngpt-icon_' + routeType,
                            {
                              'editor-menu-stops__ngpt-icon_term': (i === 0 || i === route.stops.length-1),
                              'editor-menu-stops__ngpt-icon_user': stop.type === 'user',
                              'editor-menu-stops__ngpt-icon_new': editorData.viewMode && proposal.routeID && stop.new,
                              'editor-menu-stops__ngpt-icon_old': editorData.viewMode && proposal.routeID && stop.old
                            }
                          ]"
                        >
                          <span v-if="!stop.old">{{editorData.viewMode ? stop.sequenceID : i + 1}}</span>
                        </span>
                      </span>
                      <v-combobox
                        v-if="!stop"
                        class="editor-menu-stops__combobox_p-9"
                        :items="stopsList"
                        :placeholder="cablewayEdit ? ' ' : 'Поиск/выбор'"
                        :append-icon="null"
                        @change="change(routeType, i, $event)"
                        @focus="focus(i)"
                        :disabled="(stop && stop.type === 'master') || cablewayEdit"
                        :value="editorData.stopsList[routeType].stops[i]"
                        :menu-props="{maxWidth: 271}"
                        :ref="`stopInput-${routeType}-${i}`"
                      >
                      </v-combobox>
                      <span
                        v-if="stop"
                        class="editor-menu-stops__name editor-menu-stops__name_p-9 editor-menu-stops__name_clickable"
                        :class="[
                          {
                            'editor-menu-stops__name_term': (i === 0 || i === route.stops.length-1),
                            'editor-menu-stops__name_user': stop.type === 'user',
                            'editor-menu-stops__name_new': editorData.viewMode && proposal.routeID && stop.new,
                            'editor-menu-stops__name_old': editorData.viewMode && proposal.routeID && stop.old
                          }
                        ]"
                      >
                        {{stop.text}}
                      </span>
                      <button
                        v-if="!editorData.viewMode && stop"
                        class="editor-menu-stops__add-next-btn editor-menu-stops__add-next-btn_p-9"
                        @click.stop="addStop(routeType, i + 1)"
                        v-tooltip="'Добавить остановку'"
                      >
                        <AddIcon2 class="editor-menu-stops__add-icon"/>
                      </button>
                      <button
                        v-if="!editorData.viewMode"
                        class="editor-menu-stops__del editor-menu-stops__del_p-9"
                        @click.stop="delStop(routeType, i)"
                        v-tooltip="'Удалить остановку'"
                      >
                        <CancelIcon2/>
                      </button>
                    </div>
                  </draggable>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import CancelIcon2 from '~/components/svg/CancelIcon2';
  import AddIcon2 from '~/components/svg/AddIcon2';
  import DraggedIcon from '~/components/svg/DraggedIcon';
  import ArrowIcon from '~/components/svg/ArrowIcon';
  import editorData from '~/components/map/layers/editor';
  import Checkbox from "~/components/base/Checkbox";
  import {editorHistory, startRouteProperties} from "~/components/map/layers/editor";

  export default {
    props: ['routeType'],
    components: {
      CancelIcon2,
      DraggedIcon,
      AddIcon2,
      ArrowIcon,
      Checkbox
    },
    data() {
      return {
        menu: [],
        editorHistory,
        editorData,
        menuOpen: true,
        voteComment: '',
        prevStopsState: null
      }
    },
    created() {
      this.editorData.description.type = 'standart';
    },
    methods: {
      toggleSubMenu() {
        this.subMenuOpen = !this.subMenuOpen;
      },
      toggleMenu() {
        this.menuOpen = !this.menuOpen
      },
      addStop(routeType, index) {
        this.hideInfoModal();
        this.editorData.stopsList[routeType].stops = this.editorData.stopsList[routeType].stops.filter(s => s);
        this.editorData.stopsList[routeType].stops.splice(index, 0, undefined);
        this.editorData.focusedStop = index;
        this.$nextTick(() => {
          const item = this.$refs[`stopInput-${routeType}-${index}`][0];
          if (item) {
            item.focus();
          }
        });
      },
      change(routeType, i, stop) {
        if (typeof stop === 'string') {
          return
        }
        if (!stop) {
          this.editorData.stopsList[routeType].stops[i] = undefined;
        } else if (typeof stop === 'object') {
          const prev = this.editorData.stopsList[routeType].stops[i - 1];
          if (prev) {
            if (prev.value === stop.value) {
              this.$snotify.error(
                'Нельзя добавлять одну и туже остановку подряд! Новая остановка совпадает с предыдущей.',
                {
                  position: 'centerTop',
                  timeout: 5000,
                  showProgressBar: false,
                }
              );
              return
            }
          }
          const next = this.editorData.stopsList[routeType].stops[i + 1];
          if (next) {
            if (next.value === stop.value) {
              this.$snotify.error(
                'Нельзя добавлять одну и туже остановку подряд! Новая остановка совпадает со следующей.',
                {
                  position: 'centerTop',
                  timeout: 5000,
                  showProgressBar: false,
                }
              );
              return
            }
          }
          this.editorData.stopsList[routeType].stops[i] = stop;
        } else {
          if (!this.editorData.stopsList[routeType].stops[i]) {
            this.editorData.stopsList[routeType].stops[i] = {};
          }
          this.editorData.stopsList[routeType].stops[i].text = stop;
        }
        this.editorData.stopsList[routeType] = {...this.editorData.stopsList[routeType]};
        this.editorData.focusedStop = null;
        this.$bus.$emit('addEditorStops', {
          skipSaveHistory: !stop
        });
      },
      focus(i) {
        this.editorData.focusedStop = i;
      },
      delStop(routeType, i) {
        this.hideInfoModal();
        this.editorData.focusedStop = null;
        const stops = this.editorData.stopsList[routeType].stops;
        const skipSaveHistory = !stops[i];
        stops.splice(i, 1);
        this.$bus.$emit('addEditorStops', {
          skipSaveHistory
        });
      },
      hideInfoModal() {
        this.$bus.$emit('hideInfoModal');
      },
      dragStart() {
        this.prevStopsState = [...this.editorData.stopsList[this.editorData.activeRoute].stops]
      },
      dragEnd(e) {
        const target = this.editorData.stopsList[this.editorData.activeRoute].stops[e.newIndex];
        const prev = this.editorData.stopsList[this.editorData.activeRoute].stops[e.newIndex - 1];
        const next = this.editorData.stopsList[this.editorData.activeRoute].stops[e.newIndex + 1];
        const targetProp = target.value === undefined ? 'id' : 'value';
        let prevProp;
        let nextProp;
        if (prev) {
          prevProp = prev.value === undefined ? 'id' : 'value';
        }
        if (next) {
          nextProp = next.value === undefined ? 'id' : 'value';
        }
        let preventedFlag = false;
        if (prev) {
          if (prevProp === targetProp && prev[prevProp] === target[targetProp]) {
            this.$snotify.error(
              'Нельзя добавлять одну и туже остановку подряд! Новая остановка совпадает с предыдущей.',
              {
                position: 'centerTop',
                timeout: 5000,
                showProgressBar: false,
              }
            );
            this.$set(this.editorData.stopsList[this.editorData.activeRoute], 'stops', this.prevStopsState);
            preventedFlag = true;
          }
        }
        if (next) {
          if (nextProp === targetProp && next[nextProp] === target[targetProp]) {
            this.$snotify.error(
              'Нельзя добавлять одну и туже остановку подряд! Новая остановка совпадает со следующей.',
              {
                position: 'centerTop',
                timeout: 5000,
                showProgressBar: false,
              }
            );
            this.$set(this.editorData.stopsList[this.editorData.activeRoute], 'stops', this.prevStopsState);
            preventedFlag = true;
          }
        }
        this.editorData.focusedStop = null;
        if (!preventedFlag) {
          this.$bus.$emit('addEditorStops');
        }
      },
      stopIconClick(routeType, i) {
        const stop = this.editorData.stopsList[routeType].stops[i];
        if (!stop) {
          return;
        }
        let coordinates;
        if (stop.type === 'master' && (this.$store.state.ngpt.stopsById[stop.value] || this.$store.state.ngpt.allStopsById[stop.value])) {
          coordinates = this.$store.state.ngpt.stopsById[stop.value]
            ? this.$store.state.ngpt.stopsById[stop.value].geometry.coordinates
            : this.$store.state.ngpt.allStopsById[stop.value].geometry.coordinates;
        }
        if (stop.type === 'user' && stop.coordinates) {
          coordinates = stop.coordinates;
        }
        if (this.editorData.viewMode) {
          try {
            coordinates = this.proposal.stopsParams[routeType].find(s => s.id === stop.id).geometry.coordinates;
          } catch (e) {

          }
        }
        if (coordinates) {
          this.$bus.$emit('fitMap', coordinates, 15);
        }
      },
      changeActiveRoute(routeType) {
        if (this.editorData.activeRoute !== routeType) {
          this.editorData.focusedStop = null;
          this.editorData.activeRoute = routeType;
          this.$bus.$emit('addEditorStops', {
            skipSaveHistory: true
          });
        }
      },
      highLightStop(stop) {
        if (stop && stop.type === 'master') {
          this.editorData.highLightStop = stop.value;
        }
        if (stop && stop.type === 'user') {
          this.editorData.highLightStop = stop.id === "" ? `newStop${stop.sequenceID}` : stop.id;
          // this.editorData.highLightStop = stop.id;
        }
        if (!stop) {
          this.editorData.highLightStop = null;
        }
        // console.log('highLightStop', this.editorData.highLightStop)
        this.$bus.$emit('addEditorStops', {
          skipLines: true,
        });
      },
      changeDescriptionType(type) {
        this.editorData.description.type = type;
      }
    },
    computed: {
      cablewayEdit() {
        return this.$store.state.editor.cablewayEdit;
      },
      stopsList() {
        return this.$store.state.ngpt.stops.map(stop => {
          return {
            text: stop.properties.name,
            type: 'master',
            value: stop.id
          }
        })
      },
      editor() {
        return this.$store.state.editor.data;
      },
      subMenuOpen: {
        get() {
          return this.$store.state.editor.data.subMenuOpen;
        },
        set(subMenuOpen) {
          this.$store.commit('editor/SET_DATA', {subMenuOpen});
        }
      },
      routeProperties() {
        const routeProperties = {};
        const getHoursAndMinutes = minutes => {
          minutes = Math.abs(minutes);
          let result;
          if (minutes < 60) {
            result = `${minutes}`
          } else {
            if (Math.floor(minutes / 60) < 10) {
              result = `${Math.floor(minutes / 60)}ч.`
            } else {
              result = `${Math.floor(minutes / 60)}ч.`
            }
            if (minutes - Math.floor(minutes / 60) * 60 < 10) {
              result = `${result} ${minutes - Math.floor(minutes / 60) * 60}`
            } else {
              result = `${result} ${minutes - Math.floor(minutes / 60) * 60}`
            }
          }
          return result
        };
        Object.keys(this.editorData.routeProperties).forEach(propName => {
          if ((this.editorData.routeProperties[propName].value || this.editorData.routeProperties[propName].value === 0) && startRouteProperties[propName]) {
            let value;
            let diff = Math.round((this.editorData.routeProperties[propName].value - startRouteProperties[propName].value) * 100) / 100;
            let diffColor = diff > 0 ? 'red' : 'green';
            if (propName === 'stopsNum') {
              diffColor = diff > 0 ? 'green' : 'red';
            }
            value = this.editorData.routeProperties[propName].value;
            let hideDiffAutoSign = false;
            if (['mainRouteTime', 'backRouteTime', 'time'].includes(propName)) {
              if (value === 0) {
                value = 'менее 1'
              } else {
                value = getHoursAndMinutes(value);
              }
              if (diff !== 0) {
                const sign = diff > 0 ? '+' : '-';
                diff = `${sign}${getHoursAndMinutes(diff)}`;
                hideDiffAutoSign = true;
              }

            }
            if (propName === 'mainRouteSpeed' || propName === 'backRouteSpeed') {
              diff = null;
            }
            routeProperties[propName] = {
              ...this.editorData.routeProperties[propName],
              value,
              diff: (editorData.viewMode || this.routeID)
                ? diff
                : null,
              diffColor,
              hideDiffAutoSign
            }
          }
        });
        if (this.cablewayEdit) {
          if (routeProperties.mainRouteLengthKm !== undefined) {
            routeProperties.mainRouteLengthKm.hidden = true;
          }
          if (routeProperties.mainRouteTime !== undefined) {
            routeProperties.mainRouteTime.hidden = true;
          }
          if (routeProperties.lengthKm !== undefined) {
            routeProperties.lengthKm.title = "Длина маршрута";
          }
          if (routeProperties.time !== undefined) {
            routeProperties.time.title = "Время в пути";
          }
        }
        return routeProperties
      },
      proposals() {
        return this.$store.state.proposals.allProposals;
      },
      proposal() {
        return this.proposals.find(p => p.id === this.$route.query.viewMode);
      },
      formTitleHint() {
        const length = editorData.newProposal.title.length;
        return length === 0
          ? 'Не более 90 символов'
          : `Осталось ${90 - length} символов`;
      },
      formRouteStartHint() {
        const length = editorData.description.routeStart.length;
        return length === 0
          ? 'Не более 90 символов'
          : `Осталось ${90 - length} символов`;
      },
      formRouteFinishHint() {
        const length = editorData.description.routeFinish.length;
        return length === 0
          ? 'Не более 90 символов'
          : `Осталось ${90 - length} символов`;
      },
      formIntervalHint() {
        const length = editorData.description.interval.length;
        return length === 0
          ? 'Не более 4 символов'
          : `Осталось ${4 - length} символов`;
      },
      formReasonHint() {
        const length = editorData.newProposal.reason.length;
        return length === 0
          ? 'Не более 1500 символов'
          : `Осталось ${1500 - length} символов`;
      },
      routeID() {
        return this.$route.query.routeID;
      }
    },
  }
</script>

<style lang="scss">
  .editor-menu {
    background-color: #f1f1f1;
    width: 250px;
    height: 100%;
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;

    &.hide-content {
      width: 60px;
    }

    &__header {
      background-color: #e7e7e7;
      color: #333333;
      font-size: 16px;
      font-weight: 600;
      line-height: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      padding-right: 20px;
      position: relative;
      flex-shrink: 0;

      &.none-width {
        width: 60px;
      }

      &_sub {
        background-color: #f0f0f0;
        width: 30px;
        padding-right: 0;
        order: -2;
      }
    }

    &__container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      &_sub {
        height: 41px;
        display: flex;
        flex-direction: column;

        &-active {
          height: calc(100% - 101px);
          order: -1;
        }

        &:not(.editor-menu__container_sub-active) {
          opacity: .5;

          .editor-menu-stops__container {
            display: none;
          }
        }
      }
    }

    &__content {
      flex-grow: 1;
      overflow-y: auto;
    }

    &__close-btn {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-grey-950);

      &.left-side {
        left: 0;
        right: unset;
        width: 60px;

        &.z-index {
          z-index: 1;
        }
      }

      &:hover {
        background-color: var(--color-grey-900);
      }

      svg {
        width: 11px;
        height: 13px;
        fill: var(--color-black);
        transform: rotate(180deg);
        transition: transform .3s;
      }

      &_open {
        svg {
          transform: rotate(0);
        }
      }
    }

    .v-menu__content {
      background-color: #ffffff;
      height: auto;
    }

    &__stop-cursor-icon {
      position: fixed;
      left: -11.5px;
      top: -11.5px;
      z-index: 3;
      pointer-events: none;
      width: 23px;
      height: 23px;
      will-change: transform;
    }

    &_menu-open {
      & + .create__map {
        .mapboxgl-ctrl-top-left {
          left: 190px;
        }
      }

      &.editor-menu_sub-menu-open {
        & + .create__map {
          .mapboxgl-ctrl-top-left {
            left: 503px;
          }
        }
      }
    }

    &_sub-menu-open {
      & + .create__map {
        .mapboxgl-ctrl-top-left {
          left: 313px;
        }
      }
    }
  }

  .editor-description {

    .v-label {
      font-weight: 400;
    }

    &__title {
      padding: 12px 19px 0 33px;
      color: #000000;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      font-weight: 300;
    }

    &__toggle {
      color: #333333;
      background-color: #ffffff;
      font-family: Roboto, sans-serif;
      font-size: 12px;
      border-radius: 4px;
      display: flex;

      &-container {
        padding-top: 7px;
        display: flex;
        justify-content: center;
      }
    }

    &-toggle__item {
      opacity: .5;
      padding: 2px 15px;
      cursor: pointer;

      &_active {
        border-radius: 4px;
        background-color: #0080ff;
        color: #ffffff;
        opacity: 1 !important;
      }
    }

  }

  .editor-menu-item {
    padding: 19px 20px 0;

    &_input {
      padding-top: 16px;
      padding-bottom: 7px;
    }

    &__title {
      color: #000000;
      font-size: 12px;
      font-weight: 300;
      margin-bottom: 4px;
    }

    &__text {
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }

    &__input {
      padding-bottom: 7px;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
    }

    &__reason {
      textarea {
        max-height: 117px;
        overflow: auto;
      }
    }

    .v-select {
      padding-top: 12px;
      margin-top: 4px;

      &.v-input--is-disabled {
        .v-input__append-inner {
          display: none;
        }

        .v-select__selection--disabled {
          color: #000;
        }
      }
    }

    .v-textarea {
      textarea {
        font-weight: 300;
      }

      &.v-input--is-disabled {
        textarea {
          color: #000;
        }
      }
    }
  }

  .editor-sub-menu {
    background-color: #ffffff;
    position: absolute;
    left: calc(100% - 30px);
    top: 0;
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

    &_open {
      left: 100%;
      width: 313px;

      .editor-menu__header_sub {
        width: 100%;
      }
    }

    &.editor-sub-menu_open {
      .editor-menu-stops__add {
        padding: 20px;
      }
    }
  }

  .editor-menu-stops {
    &-combobox__item {
      flex-grow: 2;
      padding: 14px 0;
    }

    .v-input__control {
      margin-bottom: -16px;
    }

    &__header {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      padding: 10px;
      cursor: pointer;
      user-select: none;

      &_main-route {
        background-color: #0080ff;
      }

      &_back-route {
        background-color: #008000;
      }
    }

    &__items {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0 30px 20px 30px;
      margin-top: 12px;

      & > div {
        display: flex;
        flex-direction: column;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
      padding-bottom: 6px;
      margin-bottom: 21px;

      & + .editor-menu-stops__add {
        margin-top: -10px;
      }

      & + .editor-menu-stops__field {
        margin-top: -10px;
      }
    }

    &__icon {
      width: 23px;
      height: 23px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-9px);
      z-index: 3;
      cursor: pointer;
    }

    &__ngpt-icon {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 50%;
      background-color: #808080;
      color: #fff;
      text-align: center;
      line-height: 23px;
      font-size: 10px;

      &_mainRoute {
        background-color: #0080ff;
      }

      &_backRoute {
        background-color: #008000;
      }

      &_new {
        background-color: #b55d10;
      }

      &_user {
        background-color: #09BA92;
      }

      &_term {
        background-color: #163354;
      }

      &_old {
        background-color: red;
      }
    }

    &__combobox {
      &_p-9 {
        .v-select__slot {
          margin-top: -9px;
          margin-bottom: 9px;
        }
      }
    }

    &__add {
      padding: 90px 20px 20px 20px;
    }

    &__add-btn {
      display: flex;
    }

    &__add-next-btn {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-6.5px);

      &_p-9 {
        top: 0;
      }
    }

    &__ind {
      color: #000000;
      font-size: 9px;
      font-weight: 400;
      padding: 0 5px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-4px);
      z-index: 1;

      &:hover {
        cursor: move;
      }

      &_p-9 {
        margin-top: -9px
      }
    }

    &__add-icon {
      width: 17px;
      height: 16px;
      margin-right: 8px;
    }

    &__add-text {
      color: #0194d3;
      font-size: 11px;
      font-weight: 300;
    }

    &__field {
      position: relative;
      margin-bottom: 32px;

      .v-text-field {
        padding-top: 0;
        padding-bottom: 0;

        .v-input__slot {
          padding-left: 58px;
          padding-right: 24px;
        }
      }

      & + .editor-menu-stops__add {
        margin-top: -2px;
      }

      &_no-type {
        .v-text-field .v-input__slot {
          padding-left: 24px;
        }
      }

      &.sortable-chosen {
        cursor: move;

        .editor-menu-stops__drag-icon {
          display: block;
          top: 0;
        }
      }

      &:first-child {
        margin-top: 9px;
      }
    }

    &__drag-icon {
      position: absolute;
      left: -12px;
      transform: translateY(-50%);
      margin-top: 3px;
      top: 50%;
      z-index: 1;
      width: 3px;
      height: 13px;
      display: none;
    }

    &__del {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-9.5px);

      svg {
        width: 10px;
        height: 10px;
      }

      &_p-9 {
        top: 0;
      }
    }

    &__container {
      height: calc(100% - 41px);
      display: flex;
      flex-direction: column;
    }

    &__name {
      padding-left: 35px;
      padding-right: 45px;
      display: block;
      margin-bottom: -3px;
      user-select: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 21px;

      &_p-9 {
        padding-bottom: 9px;
        margin-top: -9px;
      }

      &_clickable {
        cursor: pointer;
      }

      &_mainRoute {
        color: #0080ff;
      }

      &_backRoute {
        color: #008000;
      }

      &_user {
        color: #09BA92;
      }

      &_new {
        color: #b55d10;
      }

      &_term {
        color: #000;
      }

      &_old {
        color: red;
        text-decoration: line-through;
      }

      &::after {
        border-image: repeating-linear-gradient(90deg, rgba(0, 0, 0, .38) 0, rgba(0, 0, 0, .38) 2px, transparent 0, transparent 4px) 1 repeat;
        border-style: solid;
        border-width: thin 0 0;
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -10px;
        content: '';
      }
    }
  }

  .editor-history {
    padding: 20px;

    &__list {
      display: flex;
      flex-direction: column-reverse;
    }

    &__title {
      font-size: 18px;
      margin-bottom: 20px;
    }

    &__item {
      margin-bottom: 10px;
    }

    &__item-btn {
      display: inline-block;
      border-bottom: 1px solid;

      &_active {
        color: #0194d3;
      }
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }
  }
</style>
