<template>
  <div class="editor-header">
    <nuxt-link
      to="/"
      class="editor-header__logo">
      <img src="../../assets/menu/logo.svg"/>
    </nuxt-link>
    <Breadcrumbs :items="breadcrumbs"/>
    <v-btn @click="statusHistoryModalVisible = true" class="editor-header__statuses-btn" v-if="fromAccount">История изменения статуса</v-btn>
    <div v-if="editorData.viewMode" class="editor-header__controls">
      <div class="editor-header-votes">
        <div class="editor-header-votes__buttons">
          <button
            class="editor-header-votes__btn editor-header-votes__btn_for"
            :disabled="proposal.isVoted || proposal.isMine || voteProcess || proposalClosed"
            @click="onVote(true)"
          >
            <HandIcon class="editor-header-votes__btn-icon"/>
            <span class="editor-header-votes__btn-count">{{proposal.voteFor}}</span>
            За идею
          </button>
          <button
            class="editor-header-votes__btn editor-header-votes__btn_against"
            :disabled="proposal.isVoted || proposal.isMine || voteProcess || proposalClosed"
            @click="onVote(false)"
          >
            <HandIcon class="editor-header-votes__btn-icon"/>
            <span class="editor-header-votes__btn-count">{{proposal.voteAgainst}}</span>
            Против идеи
          </button>
        </div>
        <div v-if="proposal.isMine || proposal.isVoted" class="editor-header-votes__info">
          <span v-if="proposal.isMine">За свои идеи голосовать нельзя</span>
          <span v-else>Вы уже проголосовали {{ proposal.vote ? 'ЗА' : 'ПРОТИВ' }}</span>
        </div>
      </div>
    </div>
    <div class="editor-header__buttons">
      <Discussions v-if="editorData.viewMode"/>
      <v-btn
        class="editor-header__btn editor-header__btn_primary editor-header__btn_clear"
        color="info"
        dark
        @click="cancel"
      >
        {{editorData.viewMode ? 'Назад' : 'Выйти'}}
      </v-btn>
      <button v-if="!editorData.viewMode" :disabled="saveDisabled" class="editor-header__btn editor-header__btn_primary"
              :class="{'editor-header__btn_disabled': saveDisabled}" @click="save">
        {{saveProcess ? 'Идёт сохранение' : 'Сохранить'}}
      </button>
    </div>
    <v-dialog v-if="editorData.viewMode" v-model="voteModalVisible" max-width="494px">
      <div
        class="modal editor-header-votes-modal"
        :class="{
              'modal_vote-for': voteType,
              'modal_vote-against': !voteType
            }"
      >
        <div class="modal__header">
          <div class="modal__title">
            Голосовать
            <span v-if="voteType">за идею</span>
            <span v-else>против идеи</span>
            {{proposal && proposal.title || ''}}
          </div>
          <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="voteModalVisible = false">
            <CloseIcon class="modal__close-icon"/>
          </button>
        </div>
        <div class="modal__footer">
          <button v-ripple class="modal__btn" @click="voteModalVisible = false">Отменить</button>
          <button
            v-ripple class="modal__btn modal__btn_color"
            @click="onVoteConfirm"
          >
                <span v-if="voteType">
                  Голосовать за
                  <HandIcon class="vote__btn-icon"/>
                </span>
            <span v-else>
                  Голосовать против
                  <HandIcon class="vote__btn-icon"/>
                </span>
          </button>
        </div>
      </div>
    </v-dialog>
    <v-dialog
      v-model="statusHistoryModalVisible"
      max-width="550px"
      persistent
    >
      <div class="modal account-proposals-modal">
        <div class="modal__header">
          <div class="modal__title">
            История изменения статуса
          </div>
          <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="statusHistoryModalVisible = false">
            <CloseIcon class="modal__close-icon"/>
          </button>
        </div>
        <div class="modal__body">
          <table v-if="proposalHistory.length" class="account-proposals-modal__statuses">
            <thead>
            <tr>
              <th>Статус</th>
              <th>Дата</th>
            </tr>
            </thead>
            <tbody>
            <tr
              v-for="(item, key) in proposalHistory"
              :key="key"
            >
              <td>{{item.status}}</td>
              <td>{{moment(item.changedAt).format('DD-MM-YYYY')}}</td>
            </tr>
            </tbody>
          </table>
          <span v-else>Нет данных</span>
        </div>
        <div class="modal__footer">
          <button v-ripple class="modal__btn modal__btn_color" @click="statusHistoryModalVisible = false">Закрыть
          </button>
        </div>
      </div>
    </v-dialog>
  </div>
</template>

<script>
  import Breadcrumbs from '~/components/editor/Breadcrumbs';
  import ArrowIcon4 from '~/components/svg/ArrowIcon4';
  import editorData from '~/components/map/layers/editor';
  import {editorHistory} from '~/components/map/layers/editor';
  import {mapActions} from 'vuex';
  import Checkbox from '~/components/base/Checkbox';
  import HandIcon from '~/components/svg/HandIcon';
  import CloseIcon from '~/components/svg/CloseIcon';
  import Discussions from '~/components/editor/Discussions';

  export default {
    components: {
      Breadcrumbs,
      ArrowIcon4,
      Checkbox,
      HandIcon,
      CloseIcon,
      Discussions,
    },
    props: [
      'routeType',
      'routeName',
      'viewMode'
    ],
    data() {
      return {
        editorData,
        editorHistory,
        saveProcess: false,
        underConsiderationStatusText: 'В работе',
        voteProcess: false,
        voteModalVisible: false,
        voteType: null,
        statusHistoryModalVisible: false,
      }
    },
    methods: {
      ...mapActions({
        saveVote: 'proposals/saveVote',
      }),
      cancel() {
        let url = '/proposals';
        if (this.$route.query.from === 'operator') {
          url = '/operator/proposals';
        }
        if (this.$route.params.fromRoute) {
          this.$router.push({
            name: this.$route.params.fromRoute,
            params: this.$route.params,
          });
        } else {
          this.$router.push({
            path: url,
            query: this.$route.params.pageQuery,
            hash: '',
          });
        }
        editorData.stopsList.mainRoute.stops = [];
        editorData.stopsList.backRoute.stops = [];
      },
      onVote(vote) {
        if (this.proposalClosed) {
          return;
        }
        if (!this.authorized) {
          console.info(this.$route);
          this.$store.commit('auth/setRedirectParams', {
            cancelBtn: true,
            routeParams: {
              name: this.$route.name,
              query: this.$route.query,
              params: {
                ...this.$route.params,
                info: {
                  status: 'info',
                  text: 'Голосование за идеи доступно только зарегистрированным пользователям'
                }
              }
            }
          });
          this.$router.push('/login');
          return;
        }
        this.voteType = vote;
        this.voteComment = '';
        this.voteModalVisible = true;
      },
      onVoteConfirm() {
        this.voteModalVisible = false;
        this.voteProcess = true;
        this.saveVote({
          commentary: this.voteComment,
          id: this.proposal.routeID || this.proposal.newRouteID,
          proposalID: this.proposal.id,
          vote: this.voteType
        });
      }
    },
    computed: {
      cablewayEdit() {
        return this.$store.state.editor.cablewayEdit;
      },
      breadcrumbs() {
        let name;
        if (this.cablewayEdit) {
          if (this.viewMode) {
            name = 'Маршрут канатной дороги'
          } else {
            name = 'Предложить новый маршрут канатной дороги'
          }
        } else {
          if (this.viewMode) {
            name = this.routeName;
          } else if (!this.routeName) {
            name = 'Предложить новый маршрут'
          } else {
            name = `Изменить существующий маршрут ${this.routeName}`
          }
        }
        return [
          {
            name: 'Идеи жителей',
            link: '/proposals'
          },
          {
            name,
          }
        ]
      },
      stops() {
        return this.$store.state.ngpt.stops;
      },
      allStopsById() {
        return this.$store.state.ngpt.allStopsById;
      },
      metros() {
        return this.$store.state.metro.metro
      },
      entrances() {
        return this.$store.state.metro.entrances
      },
      districts() {
        return this.$store.state.districts.districts
      },
      proposals() {
        return this.$store.state.proposals.allProposals;
      },
      proposal() {
        return this.proposals.find(p => p.id === this.$route.query.viewMode);
      },
      proposalClosed() {
        return this.proposal.status === 'Закрыто';
      },
      authorized() {
        return this.$store.state.auth.data.authorized;
      },
      fromAccount() {
        return this.$route.params.fromAccount;
      },
      proposalHistory() {
        return this.$store.state.operator.proposalHistory;
      },
    },
  }
</script>

<style lang="scss">
  .editor-header {
    height: 80px;
    width: 100%;
    left: 0;
    bottom: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 28px;
    z-index: 4;

    &__buttons {
      margin-left: auto;
    }

    &__logo {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 35px;
      }
    }

    &__btn {
      color: #333333;
      font-size: 14px !important;
      font-weight: 400;
      line-height: 14px;
      min-width: 128px !important;
      padding: 0 15px;
      height: 32px !important;
      border-radius: 3px;
      background-color: #ffffff;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding-bottom: 1px !important;

      &_primary {
        background-color: #0194d3;
        color: #ffffff;
        margin-left: 12px;
        cursor: pointer;
      }

      &_clear {
        text-transform: none;
        border-radius: 3px;
        margin-left: 12px;
        cursor: pointer;
        box-shadow: none !important;
      }

      &_disabled {
        cursor: default;
      }

      &:hover {
        & .editor-header__options {
          display: flex;
        }
      }

      &[disabled] {
        opacity: .5;
      }
    }

    &__icon {
      transform: rotate(-90deg);
      margin-left: -7px;
      left: 12px;
      position: relative;

      svg {
        width: 10px;
        height: 10px;
      }
    }

    &__options {
      display: none;
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      right: 0;
      top: calc(100% + 7px);
      border-radius: 3px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
      padding: 15px;
      opacity: 1;
      animation: showOptions .3s;

      &::before {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 7px;
        background-color: transparent;
        content: "";
      }
    }

    @keyframes showOptions {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    &__option {
      color: #000000;
      font-size: 14px;
      font-weight: 300;
      line-height: 14px;
      white-space: nowrap;
      width: 100%;
      text-align: left;

      &:not(:last-child) {
        margin-bottom: 31px;
      }
    }

    &__controls {
      margin-right: auto;
      margin-left: auto;
    }

    &__statuses-btn {
      margin-left: auto;
      border-radius: 0.8rem;
      box-shadow: none;
      padding-bottom: 3px;
      color: rgba(102, 111, 120, 0.8);
      background: rgba(102, 111, 120, 0.1);
      text-transform: none;
      font-weight: 400;
      font-size: 16px;
    }
  }

  .editor-header-votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, "Open Sans", sans-serif;

    &__buttons {
      display: flex;
    }

    &__btn {
      border-radius: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      min-width: 295px;
      padding: 8px 10px 8px 8px;

      &:first-child {
        margin-right: 15px;
      }

      &[disabled] {
        opacity: .5;
      }

      &-count {
        font-weight: 500;
        margin: 0 10px;
      }

      &-icon {
        g {
          fill: #fff;
        }
      }

      &_for {
        background-color: #2f7ce6;
      }

      &_against {
        background-color: #f07f2f;

        .editor-header-votes__btn-icon {
          transform: rotate(180deg);
        }
      }
    }

    &__info {
      font-weight: 300;
    }
  }

  .editor-header-votes-modal {
    .modal__btn {
      padding: 8px 20px;

      &_color {
        padding-left: 36px;
        display: flex;
        align-items: center;

        span {
          display: flex;
          align-items: center;

          svg {
            margin-left: 15px;
          }
        }
      }
    }
  }

  .account-proposals-modal {
    &__statuses {
      width: 100%;
      text-align: left;

      th,
      td {
        padding: 5px;
        font-size: 16px;
      }
    }
  }
</style>
