<template>
  <div
    v-if="stopsCount >= minStopCount"
      class="editor-similarRoutes"
      :class="{'editor-similarRoutes_disabled': status !== 'ok'}"
    >
    <div class="editor-similarRoutes__toggle-container">
      <div class="editor-similarRoutes__switch" @click="toggle">
        <div
          v-if="!(status === 'fetching' || status === 'mapmatching' || status === 'computing')"
          class="editor-similarRoutes-switch__track"
          :class="{'editor-similarRoutes-switch__track_checked': checked}"
        >
          <div
            class="editor-similarRoutes-switch__knob"
            :class="{'editor-similarRoutes-switch__knob_checked': checked}"
          />
        </div>
        <div class="editor-similarRoutes-switch__loader" v-if="status === 'fetching' || status === 'mapmatching' || status === 'computing'">
          <v-btn
            depressed
            loading
            fab
            outlined
            rounded
            x-small
            text
          />
        </div>
      </div>
      <span class="editor-similarRoutes-toggle-container__text" @click="toggle">
        {{ title }}
      </span>
    </div>
    <div class="editor-similarRoutes__list" v-if="checked && status === 'ok'">
      <div
        class="editor-similarRoutes-list__container"
        :class="{'editor-similarRoutes-list__container_one-route-fix': similarRoutes.length === 1}"
        v-bar>
        <div class="test">
          <div
            v-for="(route, index) in similarRoutes"
            :key="index"
            class="editor-similarRoutes-list__item"
            @click="toggleRoute(route)"
          >
            <div
              class="editor-similarRoutes__checkbox"
              :class="{'editor-similarRoutes__checkbox_checked': route.shown}"
              :style="route.shown ? 'background-color: ' + route.color : ''"
            />
            <span class="editor-similarRoutes-checkbox__name" >{{`Маршрут ${route['route_name']}`}}</span>
            <span class="editor-similarRoutes-checkbox__percent">{{`(${route.percent.toFixed(0)}%)`}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import editorData from '~/components/map/layers/editor';
  import connection from '~/assets/js/connection';

  export default {
    data() {
      return {
        checked: true,
        editorData,
        minStopCount: 2,
        title: 'Похожие маршруты',
        status: 'ok',
        error: false,
        similarRoutes: [],
        hue: [4, 18, 29, 42, 52, 64, 77, 97, 141, 163, 174, 185, 195, 207, 246, 264, 281, 293, 308, 324, 341]
      }
    },

    mounted () {
      this.$bus.$on('updateSimilarRoutes', this.updateSimilarRoutes);
      this.$bus.$on('setSimilarRoutesStatus', this.setStatus)
    },

    beforeDestroy () {
      this.$bus.$off('updateSimilarRoutes', this.updateSimilarRoutes);
      this.$bus.$off('setSimilarRoutesStatus', this.setStatus)
    },

    created () {
    },

    methods: {
      toggle() {
        if (this.status === 'ok') {
          this.checked = !this.checked;
          if (!this.checked) {
            this.hideSimilarRoutes();
          }
        }
      },
      toggleRoute(route) {
        route.shown = !route.shown;
        if (route.shown === true) {
          // const color = `hsl(${Math.round(0 - 0.5 + Math.random() * (360 - 0 + 1))}, 89%, 51%)`;
          // route.color = route.color === '#f5a623' ? color : route.color;
          this.$bus.$emit('addSimilarRoute', route)
        }
        else {
          this.$bus.$emit('delSimilarRoute', route.route_guid)
        }
      },
      setStatus(params) {
        if (this.stopsCount >= this.minStopCount) {
          this.title = params.title;
          this.status = params.status;
        }
      },
      hideSimilarRoutes() {
        this.similarRoutes.forEach((route) => {
          if (route.shown) {
            route.shown = false;
            this.$bus.$emit('delSimilarRoute', route.route_guid)
          }
        });
      },
      async updateSimilarRoutes(params) {
        this.hideSimilarRoutes();
        this.title = 'Обработка данных';
        this.status = 'computing';
        if (this.stopsCount < this.minStopCount) {
          return;
        }
        let coordinates = [];
        if (params.mainRouteLine !== undefined && this.editorData.activeRoute === 'mainRoute') {
          coordinates = coordinates.concat(params.mainRouteLine.geometry.coordinates);
        }
        if (params.backRouteLine !== undefined && this.editorData.activeRoute === 'backRoute') {
          coordinates = coordinates.concat(params.backRouteLine.geometry.coordinates);
        }
        this.title = `Поиск похожих маршрутов`;
        this.status = 'fetching';
        this.similarRoutes = [];
        const service = 'smartSimilarRoutes';
        let body = {
          "geom": coordinates
        }
        if (service === 'smartSimilarRoutes') {
          const stopCoordinates = [];
          const keys = ['mainRouteStops', 'backRouteStops'];
          keys.forEach(key => {
            params[key].forEach(stop => {
              stopCoordinates.push(stop.geometry.coordinates)
            })
          })
          body = {
            'pts': stopCoordinates
          }
        }
        const url = `${connection.getAddress()}/directions/v1/${service}`;
        this.$axios.post(
          url,
          body,
          {
            headers: {
              Authorization: `Bearer ${localStorage.getItem('token')}`
            },
          }
        ).then(({data}) => {
          let similarRoutes = {};
          data.data.forEach((d, i) => {
            if (similarRoutes[d.routeID] === undefined) {
              similarRoutes[d.routeID] = d;
            } else {
              const geom = [...similarRoutes[d.routeID].geom, ...d.geom];
              if (similarRoutes[d.routeID].percent < d.percent) {
                similarRoutes[d.routeID] = d;
              }
              similarRoutes[d.routeID].geom = [...geom];
            }
          });
          similarRoutes = [...Object.values(similarRoutes)];
          similarRoutes.sort((a, b) => {
            if (a.percent < b.percent) {return 1;}
            if (a.percent > b.percent) {return -1;}
            return 0;
          });
          similarRoutes.map((d, i) => {
            d.shown = false;
            // d.color = '#f5a623';
            d.color = `hsl(${this.hue[i%this.hue.length]}, 89%, 51%)`;
            return d;
          });
          this.similarRoutes = [...similarRoutes];
          if (this.similarRoutes.length === 0) {
            this.title = `Похожих маршрутов нет`;
            this.error = true;
            this.status = 'no routes';
            this.checked = false;
          } else {
            this.title = `Похожие маршруты (${similarRoutes.length})`;
            if (this.error) {
              this.checked = true;
            }
            this.error = false;
            this.status = 'ok';
          }
        }).catch((err) => {
          this.title = `Ошибка`;
          this.status = 'error';
          this.error = true;
          this.checked = false;
          console.log('[similar routes fetch error]', err)
        });
      }
    },
    computed: {
      stopsCount() {
        return this.editorData.stopsList[this.editorData.activeRoute].stops.filter(s => s).length;
      }
    }
  }
</script>

<style lang="scss" scoped>
  .test {
    flex-grow: 1;
    overflow-y: auto;
  }
  .editor-similarRoutes {
    position: absolute;
    top: 30px;
    right: 30px;
    opacity: 1;
    z-index: 2;
    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: ease;

    &_disabled {
      opacity: 1;
    }

    &__toggle-container {
      width: 260px;
      height: 40px;
      box-shadow: 0 1px 10px rgba(89, 89, 89, 0.5);
      border-radius: 5px;
      background-color: #ffffff;
      display: flex;
    }

    &-toggle-container {
      &__text {
        color: #333333;
        font-size: 14px;
        align-self: center;
        cursor: pointer;
      }
    }

    &__switch {
      align-self: center;
      margin: 0 17px;
    }

    &-switch {
      &__track {
        width: 34px;
        height: 14px;
        background-color: rgba(34, 31, 31, 0.26);
        border-radius: 8px;
        position: relative;
        transition-property: background-color;
        transition-duration: .2s;
        transition-timing-function: ease;
        cursor: pointer;

        &_checked {
          background-color: transparentize(#2096f3, .5) !important;
        }
      }

      &__knob {
        position: absolute;
        top: -3px;
        left: -3px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.12);
        background-color: #f1f1f1;
        border-radius: 50%;
        transition-property: background-color, left;
        transition-duration: .2s;
        transition-timing-function: ease;
        cursor: pointer;

        &_checked {
          background-color: #2096f3 !important;
          left: 17px;
        }
      }

      &__loader {
        .v-btn {
          width: 34px;
          height: 34px;
          margin: 0;
          background-color: transparent;
          color: #2096f3;
        }
      }

      &__noRoute {
        width: 34px;
      }
    }

    &__list {
      width: 260px;
      max-height: 300px;
      box-shadow: 0 1px 10px rgba(89, 89, 89, 0.5);
      border-radius: 5px;
      background-color: #ffffff;
      overflow: hidden;
      margin-top: 5px;
      padding: 20px;
    }

    &-list {
      display: flex;
      flex-direction: column;

      &__container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        max-height: 242px;

        &_one-route-fix {
          height: 22px;
        }
      }
      &__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:not(:first-child) {
          margin-top: 16px;
        }
      }
    }

    &__checkbox {
      width: 18px;
      height: 18px;
      border-radius: 3px;
      border: 1px solid #dbdbdb;
      cursor: pointer;
      transition-property: background-color;
      transition-duration: .2s;
      transition-timing-function: ease;
      &_checked {
        width: 18px;
        height: 18px;
        border-width: 0;
        // background-color: #f5a623;
        background-image: url(../../assets/img/mark.svg);
        background-size: 10px 7px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &-checkbox {
      &__name {
        margin-left: 16px;
        color: #333333;
      }
      &__percent {
        color: #2096f3;
        margin-left: 5px
      }
    }
  }
</style>
