<template>
  <div
    class="map-menu"
    @click="hideInfoModal"
    :class="{
      'map-menu_hidden': !menuVisible,
      'map-menu_view-mode': viewMode,
    }"
  >
    <div class="map-menu-header">
      <h5 class="map-menu-header__title">
        <b>Конструктор</b> маршрута
      </h5>
      <span v-if="!viewMode" v-tooltip="'Текстовая подсказка'" class="map-menu-header__icon">?</span>
      <button
        @click="menuVisible = !menuVisible"
        class="map-menu-header__btn"
        v-tooltip="menuVisible ? 'Скрыть меню' : 'Показать меню'"
      >
        <ArrowIcon/>
      </button>
    </div>
    <div class="map-menu__body">
      <button
        @click="changeActiveRoute"
        class="map-menu__route-btn map-menu__route-btn_forward"
        :class="{
          'map-menu__route-btn_active': editorData.activeRoute === 'mainRoute',
        }"
      >
        Прямой маршрут
        <Arrow v-if="!cableWayEdit" class="map-menu__route-btn-arrow"/>
      </button>
      <div
        class="map-menu-stops"
        :class="{
          'map-menu-stops_cable-way-edit': cableWayEdit
        }"
        v-bar
      >
        <div
          class="map-menu-stops__items"
        >
          <draggable v-model="editorData.stopsList[editorData.activeRoute].stops" @start="dragStart" @end="dragEnd"
                     handle=".map-menu-stop__draggable" :disabled="viewMode">
            <div
              v-for="(stop, i) in editorData.stopsList[editorData.activeRoute].stops"
              :key="i"
              class="map-menu-stops__item map-menu-stop"
              :class="[
                  'map-menu-stop_' + editorData.activeRoute,
                  {
                    'map-menu-stop_term': stop && stop.term,
                    'map-menu-stop_user': stop && stop.type === 'user',
                    'map-menu-stop_old': stop && stop.old,
                  }
                ]"
              @mouseenter="highLightStop(stop)"
              @mouseleave="highLightStop()"
            >
              <div
                v-if="stop"
                class="map-menu-stop__draggable"
                @click="stopIconClick(i)"
              >
                <DraggedIcon class="map-menu-stop__drag-icon"/>
                <span
                  class="map-menu-stop__icon"
                >
                <span v-if="!stop.old">{{editorData.viewMode ? stop.sequenceID : i + 1}}</span>
              </span>
                <span class="map-menu-stop__name">{{stop.text}}</span>
              </div>
              <div class="map-menu-stop__field" v-if="!stop">
                <v-combobox
                  :items="stopsList"
                  :placeholder="cableWayEdit ? ' ' : 'поиск/выбор '"
                  :append-icon="null"
                  @change="change(i, $event)"
                  @focus="focus(i)"
                  :disabled="(stop && stop.type === 'master') || cableWayEdit"
                  :value="editorData.stopsList[editorData.activeRoute].stops[i]"
                  :menu-props="{maxWidth: 271}"
                  :ref="`stopInput-${i}`"
                  hide-details
                >
                  <template v-slot:item="{ index, item }">
                    <div class="editor-menu-stops-combobox__item"
                      @mouseover="comboboxItemMouseOver({index, item})"
                      @mouseout="comboboxItemMouseOut({index, item})"
                    >
                      {{ item.text }}
                    </div>
                  </template>
                </v-combobox>
              </div>
              <div v-if="!viewMode" class="map-menu-stop__buttons">
                <button @click="delStop(i)" v-tooltip="stop ? 'Удалить остановку' : 'Отменить'"
                        class="map-menu-stop__btn map-menu-stop__btn_del">×
                </button>
                <button v-if="stop" @click="addStop(i)" v-tooltip="'Добавить остановку выше'"
                        class="map-menu-stop__btn map-menu-stop__btn_add map-menu-stop__btn_add-prev"><span>+↑</span>
                </button>
                <button v-if="stop" @click="addStop(i + 1)" v-tooltip="'Добавить остановку ниже'"
                        class="map-menu-stop__btn map-menu-stop__btn_add map-menu-stop__btn_add-next"><span>+↓</span>
                </button>
              </div>
            </div>
          </draggable>
          <div v-if="!viewMode && !editorData.stopsList[editorData.activeRoute].stops.length"
               class="map-menu-stops__item map-menu-stop">
            <div @click="focus(0)" class="map-menu-stop__field">
              <v-combobox
                :items="stopsList"
                :placeholder="cableWayEdit ? ' ' : 'поиск/выбор '"
                :append-icon="null"
                @change="change(0, $event)"
                @focus="focus(0)"
                :disabled="cableWayEdit"
                :menu-props="{maxWidth: 271}"
                :ref="`stopInput-0`"
                hide-details
              >
                <template v-slot:item="{ index, item }">
                  <div class="editor-menu-stops-combobox__item"
                    @mouseover="comboboxItemMouseOver({index, item})"
                    @mouseout="comboboxItemMouseOut({index, item})"
                  >
                    {{ item.text }}
                  </div>
                </template>
              </v-combobox>
            </div>
          </div>
        </div>
      </div>
      <button
        @click="changeActiveRoute"
        v-if="!cableWayEdit"
        class="map-menu__route-btn map-menu__route-btn_backward"
        :class="{
          'map-menu__route-btn_active': editorData.activeRoute === 'backRoute',
        }"
      >
        Обратный маршрут
        <Arrow class="map-menu__route-btn-arrow"/>
      </button>
    </div>
  </div>
</template>

<script>
  import Arrow from '~/components/svg/ArrowIcon3';
  import editorData from '~/components/map/layers/editor';
  import DraggedIcon from '~/components/svg/DraggedIcon';
  import ArrowIcon from '~/components/svg/ArrowIcon';

  export default {
    props: ['routeID', 'viewMode'],
    components: {
      Arrow,
      DraggedIcon,
      ArrowIcon,
    },
    data() {
      return {
        editorData,
        drag: false,
        menuVisible: true,
      }
    },
    computed: {
      cableWayEdit() {
        return this.$store.state.editor.cablewayEdit;
      },
      stopsList() {
        return this.$store.state.ngpt.stops.map(stop => {
          return {
            text: stop.properties.name,
            type: 'master',
            value: stop.id
          }
        })
      },
    },
    methods: {
      comboboxItemMouseOver(params) {
        this.$bus.$emit('createSuggestedStopMarker', this.$store.state.ngpt.stopsById[params.item.value].geometry.coordinates);
      },
      comboboxItemMouseOut() {
        this.$bus.$emit('removeSuggestedStopMarker');
      },
      highLightStop(stop) {
        clearTimeout(this.highLightStopTimeout);
        let highLightStop = null;
        if (stop && stop.type === 'master') {
          highLightStop = stop.value;
        }
        if (stop && stop.type === 'user') {
          highLightStop = stop.id === "" ? `newStop${stop.sequenceID}` : stop.id;
        }
        if (highLightStop !== this.editorData.highLightStop) {
          this.editorData.highLightStop = highLightStop;
          this.highLightStopTimeout = setTimeout(() => {
            this.$bus.$emit('addEditorStops', {
              skipLines: true,
            });
          }, 200);
        }
      },
      stopIconClick(i) {
        const stop = this.editorData.stopsList[this.editorData.activeRoute].stops[i];
        if (!stop) {
          return;
        }
        let coordinates;
        if (stop.type === 'master' && (this.$store.state.ngpt.stopsById[stop.value] || this.$store.state.ngpt.allStopsById[stop.value])) {
          coordinates = this.$store.state.ngpt.stopsById[stop.value]
            ? this.$store.state.ngpt.stopsById[stop.value].geometry.coordinates
            : this.$store.state.ngpt.allStopsById[stop.value].geometry.coordinates;
        }
        if (stop.type === 'user' && stop.coordinates) {
          coordinates = stop.coordinates;
        }
        if (this.editorData.viewMode) {
          try {
            coordinates = this.proposal.stopsParams[routeType].find(s => s.id === stop.id).geometry.coordinates;
          } catch (e) {

          }
        }
        if (coordinates) {
          this.$bus.$emit('fitMap', coordinates, 15);
        }
      },
      change(i, stop) {
        this.$bus.$emit('removeSuggestedStopMarker');
        if (typeof stop === 'string') {
          return
        }
        if (!stop) {
          this.editorData.stopsList[this.editorData.activeRoute].stops[i] = undefined;
        } else if (typeof stop === 'object') {
          const prev = this.editorData.stopsList[this.editorData.activeRoute].stops[i - 1];
          if (prev) {
            if (prev.value === stop.value) {
              this.$snotify.error(
                'Нельзя добавлять одну и туже остановку подряд! Новая остановка совпадает с предыдущей.',
                {
                  position: 'centerTop',
                  timeout: 5000,
                  showProgressBar: false,
                }
              );
              return
            }
          }
          const next = this.editorData.stopsList[this.editorData.activeRoute].stops[i + 1];
          if (next) {
            if (next.value === stop.value) {
              this.$snotify.error(
                'Нельзя добавлять одну и туже остановку подряд! Новая остановка совпадает со следующей.',
                {
                  position: 'centerTop',
                  timeout: 5000,
                  showProgressBar: false,
                }
              );
              return
            }
          }
          this.editorData.stopsList[this.editorData.activeRoute].stops[i] = stop;
        } else {
          if (!this.editorData.stopsList[this.editorData.activeRoute].stops[i]) {
            this.editorData.stopsList[this.editorData.activeRoute].stops[i] = {};
          }
          this.editorData.stopsList[this.editorData.activeRoute].stops[i].text = stop;
        }
        this.editorData.stopsList[this.editorData.activeRoute] = {...this.editorData.stopsList[this.editorData.activeRoute]};
        this.editorData.focusedStop = null;
        this.$bus.$emit('addEditorStops', {
          skipSaveHistory: !stop
        });
        if (stop) {
          this.stopIconClick(i);
        }
      },
      focus(i) {
        this.editorData.focusedStop = i;
      },
      addStop(i) {
        this.hideInfoModal();
        this.editorData.stopsList[this.editorData.activeRoute].stops = this.editorData.stopsList[this.editorData.activeRoute].stops.filter(s => s);
        this.editorData.stopsList[this.editorData.activeRoute].stops.splice(i, 0, undefined);
        this.editorData.focusedStop = i;
        this.$nextTick(() => {
          const item = this.$refs[`stopInput-${i}`][0];
          if (item) {
            item.focus();
          }
        });
      },
      delStop(i) {
        this.hideInfoModal();
        this.editorData.focusedStop = null;
        const stops = this.editorData.stopsList[this.editorData.activeRoute].stops;
        const skipSaveHistory = !stops[i];
        stops.splice(i, 1);
        this.editorData.stopsList[this.editorData.activeRoute].stops = [...stops];
        this.$bus.$emit('addEditorStops', {
          skipSaveHistory,
          updateLines: this.routeID && !skipSaveHistory,
        });
      },
      dragStart() {
        this.prevStopsState = [...this.editorData.stopsList[this.editorData.activeRoute].stops];
        this.drag = true;
      },
      dragEnd(e) {
        const target = this.editorData.stopsList[this.editorData.activeRoute].stops[e.newIndex];
        const prev = this.editorData.stopsList[this.editorData.activeRoute].stops[e.newIndex - 1];
        const next = this.editorData.stopsList[this.editorData.activeRoute].stops[e.newIndex + 1];
        const targetProp = target.value === undefined ? 'id' : 'value';
        let prevProp;
        let nextProp;
        if (prev) {
          prevProp = prev.value === undefined ? 'id' : 'value';
        }
        if (next) {
          nextProp = next.value === undefined ? 'id' : 'value';
        }
        let preventedFlag = false;
        if (prev) {
          if (prevProp === targetProp && prev[prevProp] === target[targetProp]) {
            this.$snotify.error(
              'Нельзя добавлять одну и туже остановку подряд! Новая остановка совпадает с предыдущей.',
              {
                position: 'centerTop',
                timeout: 5000,
                showProgressBar: false,
              }
            );
            this.$set(this.editorData.stopsList[this.editorData.activeRoute], 'stops', this.prevStopsState);
            preventedFlag = true;
          }
        }
        if (next) {
          if (nextProp === targetProp && next[nextProp] === target[targetProp]) {
            this.$snotify.error(
              'Нельзя добавлять одну и туже остановку подряд! Новая остановка совпадает со следующей.',
              {
                position: 'centerTop',
                timeout: 5000,
                showProgressBar: false,
              }
            );
            this.$set(this.editorData.stopsList[this.editorData.activeRoute], 'stops', this.prevStopsState);
            preventedFlag = true;
          }
        }
        this.editorData.focusedStop = null;
        if (!preventedFlag) {
          this.$bus.$emit('addEditorStops');
        }
        this.drag = false;
      },
      changeActiveRoute() {
        if (this.editorData.activeRoute === 'mainRoute') {
          this.editorData.activeRoute = 'backRoute';
        } else {
          this.editorData.activeRoute = 'mainRoute';
        }
        this.$bus.$emit('addEditorStops', {
          skipSaveHistory: true
        });
      },
      hideInfoModal() {
        this.$bus.$emit('hideInfoModal');
      },
    },
    watch: {
      menuVisible() {
        this.$nuxt.$nextTick(() => this.$bus.$emit('resizeMap'));
      }
    }
  }
</script>

<style lang="scss">
  .map-menu-stop {
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 300;

    &__field {
      width: 100%;

      & + .map-menu-stop__buttons {
        height: calc(100% - 1px);
      }
    }

    .v-select {
      margin: 0;
      padding-left: 25px;

      .v-input__control > .v-input__slot {
        &:before,
        &:after {
          width: calc(100% + 69px);
          left: -25px;
        }

        & > .v-select__slot {
          height: 49px;

          input {
            max-height: 49px;
            height: 49px;
            font-size: 16px;
            font-weight: 300;
            padding-top: 1px;
            padding-bottom: 0;

            &:not(:placeholder-shown) {
              padding-right: 25px;
            }
          }
        }
      }
    }

    &__draggable {
      padding: 12px 0;
      display: flex;
      align-items: center;
      cursor: move;
      max-width: 100%;
      min-width: 100%;
      transition: max-width 0.3s ease, min-width 0.3s ease;
      user-select: none;
    }

    &__buttons {
      height: 100%;
      flex-shrink: 0;
      display: flex;
      transition: transform .3s ease-in-out;
      user-select: none;
      background-color: #fff;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(100%);
      will-change: transform;
    }

    &__btn {
      width: 30px;
      border-left: 1px solid #ebebeb;
      font-size: 16px;
      flex-shrink: 0;

      span {
        display: inline-block;
      }

      &_del {
        color: #D0021C;
        padding-top: 5px;
        font-size: 24px;
      }

      &_add {
        color: #5FA962;

        &-prev {
          padding-top: 5px;
          padding-left: 3px;
        }

        &-next {
          padding-right: 2px;
        }
      }
    }

    &__drag-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 15px;
      left: 8px;
      display: none;
    }

    &__icon {
      width: 25px;
      height: 25px;
      display: block;
      border-radius: 50%;
      background-color: #808080;
      color: #fff;
      text-align: center;
      line-height: 26px;
      font-size: 10px;
      flex-shrink: 0;
      margin-left: 22px;
    }

    &__name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 10px;
      margin-right: 15px;
    }

    &_mainRoute {
      .map-menu-stop__icon {
        background-color: #1A66CC;
      }

      .map-menu-stop__name {
        color: #1A66CC;
      }
    }

    &_backRoute {
      .map-menu-stop__icon {
        background-color: #5FA962;
      }

      .map-menu-stop__name {
        color: #5FA962;
      }
    }

    &_user {
      .map-menu-stop__icon {
        background-color: #09BA92;
      }

      .map-menu-stop__name {
        color: #09BA92;
      }
    }

    &_term {
      .map-menu-stop__icon {
        background-color: #163354;
      }

      .map-menu-stop__name {
        color: #163354;
      }
    }

    &_old {
      .map-menu-stop__icon {
        background-color: red;
      }

      .map-menu-stop__name {
        color: red;
        text-decoration: line-through;
      }
    }
  }

  .map-menu-stops {
    flex-grow: 1;
    max-height: calc(100% - 76px);
    display: flex;
    flex-direction: column;

    &__cable-way-edit {
      max-height: calc(100% - 40px);
    }

    &__item {
      border-bottom: 1px solid #ebebeb;
      &:hover {
        .map-menu-stop__buttons {
          transform: translateX(0);
        }
      }
    }

    &__items {
      /*.map-menu-stop:hover {*/
      /*  .map-menu-stop__buttons {*/
      /*    max-width: 90px;*/
      /*    min-width: 90px;*/
      /*  }*/

      /*  .map-menu-stop__draggable {*/
      /*    max-width: calc(100% - 90px);*/
      /*    min-width: calc(100% - 90px);*/

      /*    &:hover {*/
      /*      .map-menu-stop__drag-icon {*/
      /*        display: block;*/
      /*      }*/
      /*    }*/
      /*  }*/

      /*  .map-menu-stop__field + .map-menu-stop__buttons {*/
      /*    max-width: 30px;*/
      /*    min-width: 30px;*/
      /*  }*/
      /*}*/
    }
  }

  .map-menu {
    width: 315px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ebebeb;
    position: relative;
    z-index: 1;
    background-color: #fff;

    &_hidden {
      border-left: 1px solid #ebebeb;
      width: 22px;
      .map-menu__body,
      .map-menu-header__title,
      .map-menu-header__icon {
        display: none;
      }
      .map-menu-header__btn {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    &__body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      height: calc(100% - 64px);

      .vb > .vb-dragger {
        right: 0;
      }

      /*.vb.vb-visible {*/
      /*  .map-menu-stops__items {*/
      /*    .map-menu-stop:hover {*/
      /*      .map-menu-stop__buttons {*/
      /*        max-width: 94px;*/
      /*        min-width: 94px;*/
      /*        padding-right: 4px;*/
      /*      }*/

      /*      .map-menu-stop__draggable {*/
      /*        max-width: calc(100% - 94px);*/
      /*        min-width: calc(100% - 94px);*/

      /*        &:hover {*/
      /*          .map-menu-stop__drag-icon {*/
      /*            display: block;*/
      /*          }*/
      /*        }*/
      /*      }*/

      /*      .map-menu-stop__field + .map-menu-stop__buttons {*/
      /*        max-width: 34px;*/
      /*        min-width: 34px;*/
      /*        padding-right: 4px;*/
      /*      }*/
      /*    }*/
      /*  }*/
      /*}*/
    }

    &__route-btn {
      color: #fff;
      font-size: 16px;
      padding: 9px 8px 7px 8px;
      position: relative;
      order: 1;
      cursor: pointer;
      font-weight: 300;
      flex-shrink: 0;

      &_forward {
        background-color: #1A66CC;
      }

      &_backward {
        background-color: #5FA962;
      }

      &:not(.map-menu__route-btn_active) {
        margin-top: auto;
      }

      &_active {
        order: -1;

        .map-menu__route-btn-arrow {
          transform: translateY(-50%);
        }
      }
    }

    &__route-btn-arrow {
      margin-left: auto;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      width: 12px;
      height: 12px;
      transition: transform .3s;

      use {
        fill: #fff;
      }
    }

    &_view-mode {
      .map-menu-stop__draggable {
        width: 100% !important;
        max-width: 100% !important;
        cursor: default;
      }
      .map-menu-stop__drag-icon {
        display: none !important;
      }
    }
  }

  .map-menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ebebeb;

    &__title {
      font-weight: 300;
      font-size: 20px;
      margin-left: 10px;
      padding: 18px 10px 15px;
    }

    &__icon {
      background-color: #ebebeb;
      display: inline-block;
      width: 25px;
      height: 25px;
      user-select: none;
      line-height: 25px;
      text-align: center;
      border-radius: 50%;
      margin: 0 auto;
      cursor: pointer;
    }

    &__btn {
      height: 100%;
      min-height: 64px;
      margin-left: auto;
      padding: 5px;
      border-left: 1px solid #ebebeb;

      svg {
        transition: transform 0.175s;
      }
    }
  }
</style>
