<template>
  <div class="account-proposals">
    <div class="account-proposals-filters">
      <div class="account-proposals-filters__field">
        <v-autocomplete
          label="Статус"
          :items="statuses"
          :hide-details="true"
          v-model="status"
          max-width="290"
        >
        </v-autocomplete>
      </div>
      <div class="account-proposals-filters__field account-proposals-filters__field_wide">
        <v-menu
          ref="createdAtFilterMenu"
          v-model="createdAtFilterMenu"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          max-width="580px"
          min-width="580px"
          nudge-top="-2"
        >
          <template v-slot:activator="{ on }">
            <div
              class="account-proposals-field v-input v-input--hide-details v-input--is-label-active theme--light v-text-field"
              :class="{
                  'primary--text v-input--is-focused': createdAtFilterMenu,
                }"
              v-on="on"
            >
              <div class="v-input__control">
                <div class="v-input__slot">
                  <div class="account-proposals-field__label">Дата создания</div>
                  <div class="account-proposals-field__value">{{proposalCreatedAt.length ? proposalCreatedAt.map(d =>
                    moment(d).format('DD-MM-YYYY')).join(' - ') : 'Любая'}}
                  </div>
                </div>
              </div>
            </div>
          </template>
          <div class="d-flex">
            <v-date-picker
              :value="proposalCreatedAtStart"
              @click:date="onProposalCreatedAtStartChange"
              no-title
              first-day-of-week="1"
              range
            >
            </v-date-picker>
            <v-date-picker
              :value="proposalCreatedAtEnd"
              @click:date="onProposalCreatedAtEndChange"
              no-title
              first-day-of-week="1"
              range
            >

              <v-spacer></v-spacer>
              <v-btn @click="resetProposalCreatedAt" text color="primary">Сброс</v-btn>
              <v-btn
                @click="setProposalCreatedAt"
                :disabled="proposalCreatedAtStart.length === 1 || proposalCreatedAtEnd.length === 1"
                text color="primary"
              >Подтвердить
              </v-btn>
            </v-date-picker>
          </div>
        </v-menu>
      </div>
      <div class="account-proposals-filters__field">
        <v-autocomplete
          label="Тип транспорта"
          :items="routeMainTypes"
          :hide-details="true"
          v-model="routeMainType"
          max-width="290"
        >
        </v-autocomplete>
      </div>
      <div class="account-proposals-filters__field">
        <v-autocomplete
          label="Район"
          :items="districts"
          :hide-details="true"
          v-model="district"
        >
        </v-autocomplete>
      </div>
      <div class="account-proposals-filters__field">
        <v-autocomplete
          label="Округ"
          :items="divisions"
          :hide-details="true"
          v-model="division"
        >
        </v-autocomplete>
      </div>
      <div class="account-proposals-filters__field">
        <v-autocomplete
          label="Станция метро"
          :items="metros"
          :hide-details="true"
          v-model="metro"
        >
        </v-autocomplete>
      </div>
      <div class="account-proposals-filters__field">
        <v-btn v-if="resetBtnVisible" @click="filtersReset">Сброс фильтров</v-btn>
      </div>
    </div>
    <div class="data-table">
      <v-data-table
        :headers="headers"
        :items="proposalsList"
        class="v-datatable"
        item-key="id"
        :items-per-page="15"
        @click:row="onProposalClick"
      >
        <template v-slot:item.number="{ item }">
          <a href="javascript:void(0)">{{ item.number }}</a>
        </template>
      </v-data-table>
    </div>
    <Loader :loading="loading" />
  </div>
</template>

<script>
  import moment from 'moment';
  import {mapMutations} from 'vuex';
  import {mapActions} from 'vuex';
  import Loader from '~/components/base/Loader';

  export default {
    components: {Loader},
    comments: {
      Loader,
    },
    data() {
      return {
        headers: [
          {text: 'Номер', value: 'number'},
          {text: 'Категория', value: 'proposalType'},
          {text: 'Маршрут', value: 'routeName'},
          {text: 'Статус', value: 'status'},
          {text: 'Дата создания', value: 'createdAt'},
          {text: 'Дата взятия в работу', value: 'workStartedAt'},
          {text: 'Дата закрытия', value: 'closedAt'},
        ],
        status: 'any',
        statuses: [
          {
            text: 'Любой',
            value: 'any'
          },
          'Новая',
          'На модерации',
          'В работе',
          'Отклонена',
          'Закрыто'
        ],
        createdAtFilterMenu: false,
        proposalCreatedAt: [],
        proposalCreatedAtStart: [],
        proposalCreatedAtEnd: [],
        routeMainType: 'any',
        routeMainTypes: [
          {
            text: 'Любой',
            value: 'any'
          },
          {
            text: 'НГПТ',
            value: 1
          },
          {
            text: 'Канатная дорога',
            value: 2
          }
        ],
        districts: [
          {
            text: 'Любой',
            value: 'any'
          },
        ],
        divisions: [
          {
            text: 'Любой',
            value: 'any'
          },
        ],
        metros: [
          {
            text: 'Любая',
            value: 'any'
          },
        ],
        metro: 'any',
        district: 'any',
        division: 'any',
        moment,
        loading: false,
      }
    },
    methods: {
      ...mapMutations({
        setCablewayEdit: 'editor/SET_CABLEWAY_EDIT'
      }),
      ...mapActions({
        getRoutes: 'ngpt/getRoutes',
        getProposals: 'account/getProposals',
        clearNgptStore: 'ngpt/clearNgptStore',
        clearAccountProposals: 'account/clearProposals'
      }),
      onProposalClick(item) {
        if (item.routeMainType === 2) {
          this.setCablewayEdit(true)
        } else {
          this.setCablewayEdit(false)
        }
        this.$router.push({
          name: 'editor',
          params: {
            fromRoute: this.$route.name,
            filters: {
              status: this.status,
              proposalCreatedAt: this.proposalCreatedAt,
              routeMainType: this.routeMainType,
              district: this.district,
              division: this.division,
              metro: this.metro
            }
          },
          query: {
            viewMode: item.id,
            routeID: item.routeID
          },
        });
      },
      setProposalCreatedAt() {
        this.proposalCreatedAt = this.proposalCreatedAtStart.length === 2 && this.proposalCreatedAtEnd.length === 2 ? [this.proposalCreatedAtStart[0], this.proposalCreatedAtEnd[1]] : [];
        this.createdAtFilterMenu = false;
      },
      onProposalCreatedAtStartChange(start) {
        let end = this.proposalCreatedAtEnd[1] || this.proposalCreatedAtEnd[0];
        if (end) {
          if (end < start) {
            start = end;
          }
          this.proposalCreatedAtStart = this.proposalCreatedAtEnd = [start, end];
        } else {
          this.proposalCreatedAtStart = [start];
        }
      },
      onProposalCreatedAtEndChange(end) {
        let start = this.proposalCreatedAtStart[0];
        if (start) {
          if (start > end) {
            end = start;
          }
          this.proposalCreatedAtStart = this.proposalCreatedAtEnd = [start, end];
        } else {
          this.proposalCreatedAtEnd = [end];
        }
      },
      resetProposalCreatedAt() {
        this.proposalCreatedAtStart = [];
        this.proposalCreatedAtEnd = [];
        this.proposalCreatedAt = [];
      },
      filtersReset() {
        this.status = 'any';
        this.proposalCreatedAt = [];
        this.routeMainType = 'any';
        this.district = 'any';
        this.division = 'any';
        this.metro = 'any';
      }
    },
    computed: {
      proposals() {
        return this.$store.state.account.proposals;
      },
      proposalsList() {
        return this.proposals.filter(proposal => {
          let filtered = true;
          if (this.status !== 'any' && proposal.status !== this.status) {
            filtered = false;
          }
          if (this.proposalCreatedAt.length) {
            if (moment(proposal.createdAt).format('YYYY-MM-DD') < this.proposalCreatedAt[0]) {
              filtered = false;
            }
            if (moment(proposal.createdAt).format('YYYY-MM-DD') > this.proposalCreatedAt[1]) {
              filtered = false;
            }
          }
          if (this.routeMainType !== 'any' && proposal.routeMainType !== this.routeMainType) {
            filtered = false;
          }
          if (this.district !== 'any' && !(proposal.districts && proposal.districts.includes(this.district))) {
            filtered = false;
          }
          if (this.division !== 'any' && !(proposal.divisions && proposal.divisions.includes(this.division))) {
            filtered = false;
          }
          if (this.metro !== 'any' && !(proposal.metroStations && proposal.metroStations.includes(this.metro))) {
            filtered = false;
          }
          return filtered;
        }).map(proposal => {
          let proposalType = proposal.routeID === 0 ? 'Новый маршрут' : 'Существующий маршрут';
          let routeName = proposal.routeID === 0 ? 'Новый маршрут' : this.routesById[proposal.routeID] ? `${this.routesById[proposal.routeID].name} (${this.routesById[proposal.routeID].fullname})` : '';
          if (proposal.routeMainType === 3) {
            proposalType = routeName = 'Другое';
          }
          return {
            number: ('0000000' + proposal.gid).slice(-8),
            proposalType,
            routeName,
            status: proposal.status,
            createdAt: moment(proposal.createdAt).format('DD-MM-YYYY'),
            workStartedAt: proposal.workStartedAt ? moment(proposal.workStartedAt).format('DD-MM-YYYY') : '-',
            closedAt: proposal.closedAt ? moment(proposal.closedAt).format('DD-MM-YYYY') : '-',
            id: proposal.id,
            routeMainType: proposal.routeMainType,
            routeID: proposal.routeID,
          }
        });
      },
      routesById() {
        return this.$store.state.ngpt.routes.reduce((acc, curr) => {
          acc[curr.routeID] = curr;
          return acc;
        }, {});
      },
      resetBtnVisible() {
        if (this.status !== 'any') {
          return true;
        }
        if (this.proposalCreatedAt.length !== 0) {
          return true;
        }
        if (this.routeMainType !== 'any') {
          return true;
        }
        if (this.district !== 'any') {
          return true;
        }
        if (this.division !== 'any') {
          return true;
        }
        if (this.metro !== 'any') {
          return true;
        }
      }
    },
    watch: {
      createdAtFilterMenu(open) {
        if (open) {
          if (!this.proposalCreatedAt.length) {
            this.proposalCreatedAtStart = [];
            this.proposalCreatedAtEnd = [];
          } else {
            this.proposalCreatedAtStart = [...this.proposalCreatedAt];
            this.proposalCreatedAtEnd = [...this.proposalCreatedAt];
          }
        }
      },
    },
    mounted() {
      const {filters} = this.$route.params;
      if (filters) {
        this.status = filters.status;
        this.proposalCreatedAt = filters.proposalCreatedAt;
        this.routeMainType = filters.routeMainType;
        this.district = filters.district;
        this.division = filters.division;
        this.metro = filters.metro;
      }
      this.loading = true;
      Promise.all([
        this.getProposals(),
        this.getRoutes(),
      ]).then(() => {
        let metroStations = [];
        let districts = [];
        let divisions = [];
        this.proposals.forEach(proposal => {
          if (proposal.metroStations) {
            metroStations = metroStations.concat(proposal.metroStations);
          }
          if (proposal.districts) {
            districts = districts.concat(proposal.districts);
          }
          if (proposal.divisions) {
            divisions = divisions.concat(proposal.divisions);
          }
        });
        this.metros = this.metros.concat([...new Set(metroStations)].filter(i => i).sort((a, b) => a.localeCompare(b)));
        this.divisions = this.divisions.concat([...new Set(divisions)].filter(i => i).sort((a, b) => a.localeCompare(b)));
        this.districts = this.districts.concat([...new Set(districts)].filter(i => i).sort((a, b) => a.localeCompare(b)));
        this.loading = false;
      });
    },
    beforeDestroy() {
      this.clearNgptStore();
      this.clearAccountProposals();
    }
  }
</script>

<style lang="scss">
  .account-proposals-filters {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;

    &__field {
      margin-right: 40px;
      margin-bottom: 40px;
      min-height: 36px;

      .v-select {
        margin: 0;
      }

      .v-btn {
        margin: 0;
      }

      &:not(.account-proposals-filters__field_wide) {
        max-width: 150px;
      }
    }
  }

  .account-proposals-field {
    cursor: pointer;
    padding-top: 0;
    margin: 0;

    .v-input__slot {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__label {
      font-size: 12px;
      font-weight: 300;
      color: #2b7ae6;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-11px);
    }

    &__value {
      font-weight: 300;
      font-size: 16px;
      min-width: 150px;
      color: rgba(0, 0, 0, 0.87);
      white-space: nowrap;
      padding: 8px 0;
      line-height: 16px;
    }
  }
</style>
