<template>
  <div v-if="authorized" class="account-achievement">
    <Achievement v-if="!loading" v-for="(achievementData, key) in data" :key="key" :data="achievementData"/>
    <div class="loader_all" style="z-index: 100;" v-else>
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>
</template>

<script>
  import Achievement from '~/components/Achievement/Index.vue';
  import {mapActions} from 'vuex';

  export default {
    layout: 'new',
    components: {
      Achievement
    },
    data() {
      return {
        loading: false,
      }
    },
    methods: {
      ...mapActions({
        getAchievement: 'achievement/getAchievement',
        clearAchievementStore: 'achievement/clearAchievementStore'
      }),
      onAddProposalClick() {
        this.$router.push({
          name: 'proposals',
          params: {
            modalOpen: true,
          }
        });
      },
      onAddSuggestionsClick() {
        this.$bus.$emit('showFeedBack', {type: 1})
      }
    },
    computed: {
      myStats() {
        return this.$store.state.achievement.myStats;
      },
      data() {
        return {
          proposals: {
            handIcon: true,
            title: 'Идеи по маршрутам',
            btn: {
              addIcon: true,
              text: 'Добавить идею',
              onBtnClick: this.onAddProposalClick,
            },
            items: {
              proposals: {
                count: this.myStats.proposals,
                text: 'Идей подано',
              },
              proposalsLikes: {
                count: this.myStats.proposalsLikes,
                text: 'Человек одобрили мои идеи',
              },
              proposalsWIP: {
                count: this.myStats.proposalsWIP,
                text: 'Идей сейчас на рассмотрении',
              },
              proposalsVotes: {
                count: this.myStats.proposalsVotes,
                text: 'Моих оценок по идеям жителей',
              },
              proposalsWIP_Closed: {
                count: this.myStats.proposalsWIP_Closed,
                text: 'Идей вынесено на обсуждение',
              },
              proposalsCommentaries: {
                count: this.myStats.proposalsCommentaries,
                text: 'Обсуждений идей с моим участием',
              }
            }
          },
          votes: {
            reactionIcon: true,
            title: 'Голосования за маршруты',
            btn: {
              text: 'Голосовать',
              link: '/votes',
            },
            items: {
              pollsVotes: {
                count: this.myStats.pollsVotes,
                text: 'Моих оценок по планируемым маршрутам',
              },
              pollsCommentaries: {
                count: this.myStats.pollsCommentaries,
                text: 'Обсуждений маршрутов с моим участием',
              }
            }
          },
          feedback: {
            writingIcon: true,
            title: 'Предложения по порталу',
            btn: {
              text: 'Предложить',
              onBtnClick: this.onAddSuggestionsClick,
            },
            items: {
              feedbackIssues: {
                count: this.myStats.feedbackIssues,
                text: 'Ошибок обнаружено',
              },
              feedbackProposals: {
                count: this.myStats.feedbackProposals,
                text: 'Улучшений предложено',
              }
            }
          }
        }
      },
      authorized() {
        return this.$store.state.auth.data.authorized;
      },
    },
    mounted() {
      this.loading = true;
      if (!this.authorized) {
        this.$router.push('/login');
      }
      this.getAchievement()
        .then(() => {
          this.loading = false;
        });
    },
    beforeDestroy() {
      this.clearAchievementStore();
    }
  }
</script>
