<template>
  <div v-if="authorized" class="account">
    <div class="account-logo">
      <div class="account-logo__container">
        <img src="../../assets/menu/user.svg" class="account-logo__icon"/>
      </div>
      <span>{{summary.username}}</span>
    </div>
    <Tabs v-if="role === 'user'" class="account__tabs" v-model="activeTab" :tabs="tabs"/>
    <div class="account-params" v-if="activeTab === 0">
      <div class="account-params__field">
        <v-text-field
          label="Электронная почта"
          :value="summary.login"
          disabled
        >
        </v-text-field>
      </div>
      <div class="account-params__field">
        <v-text-field
          label="Имя"
          v-model="userName"
        >
        </v-text-field>
      </div>
      <div class="account-params__field">
        <v-text-field
          label="Новый пароль (не менее 4 символов)"
          type="password"
          autocomplete="new-password"
          v-model="password"
        >
        </v-text-field>
      </div>
      <div class="account-params__buttons">
        <v-btn :disabled="loading" v-if="saveBtnVisible" @click="cancel">Отмена</v-btn>
        <v-btn :disabled="loading" color="primary" v-if="saveBtnVisible" @click="save">Сохранить</v-btn>
      </div>
    </div>
    <Subscriptions v-if="activeTab === 1" />
  </div>
</template>

<script>
  import Tabs from '~/components/base/Tabs';
  import {mapActions} from 'vuex';
  import Subscriptions from '~/components/Account/Subscriptions';

  export default {
    layout: 'new',
    components: {
      Tabs,
      Subscriptions,
    },
    data() {
      return {
        userName: '',
        password: '',
        activeTab: 0,
        tabs: [
          {
            name: 'Mои данные',
            value: 'params',
          },
          {
            name: 'Мои настройки',
            value: 'settings',
          },
        ],
        loading: false,
      }
    },
    methods: {
      ...mapActions({
        getSummary: 'account/getSummary',
        editUserName: 'account/editUserName',
        editPw: 'account/editPw',
      }),
      cancel() {
        this.userName = this.summary.username;
        this.password = '';
      },
      showMessage(status, message) {
        this.$snotify[status](
          message,
          {
            position: 'centerTop',
            titleMaxLength: 100
          }
        );
      },
      async save() {
        this.loading = true;
        try {
          if (this.userName !== this.summary.username) {
            await this.editUserName({
              username: this.userName
            });
            this.showMessage('success','Ваше имя успешно изменено');
          }
        } catch (e) {
          console.info(e);
          this.showMessage('error', 'Ошибка изменения имени');
        }
        try {
          if (this.password.trim().length > 3) {
            await this.editPw({
              password: this.password
            });
            this.showMessage('success', 'Ваш пароль успешно изменен');
            this.password = '';
          }
        } catch (e) {
          console.info(e);
          this.showMessage('error', 'Ошибка изменения пароля');
        }
        await this.getSummary();
        this.loading = false;
      }
    },
    computed: {
      authorized() {
        return this.$store.state.auth.data.authorized;
      },
      summary() {
        return this.$store.state.account.summary;
      },
      saveBtnVisible() {
        return (this.userName.trim() !== this.summary.username && this.userName.trim().length) || (this.userName.trim().length && this.password.trim().length > 3);
      },
      role() {
        return this.$store.state.users.role;
      },
    },
    mounted() {
      if (!this.authorized) {
        this.$router.push('/login');
      }
      this.userName = this.summary.username;
    },
    watch: {
      summary() {
        this.userName = this.summary.username;
      }
    }
  }
</script>

<style lang="scss">
  .account-logo {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 35px;

    &__container {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      margin-right: 32px;
      background-color: #e0e0e0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__icon {
      width: 32px;
      height: 32px;
    }
  }

  .account-params {
    max-width: 500px;
    margin: 50px 0;

    &__buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
    }
  }

  .account-settings {
    margin: 50px 0;
  }
</style>
