<template>
  <div class="login-page">
    <vue-snotify />
    <div class="login-page__content">
      <form
        ref="form"
        class="login-form password"
        @submit.prevent="onsubmit"
      >
        <div class="login-page__header">
          <img 
            src="../../assets/menu/logo.svg" 
            alt="logo" 
            class="login-page__header-img" >
          <span class="login-page__header-text">Голосование по маршрутам</span>
        </div>
        <div class="login-form__field">
          <v-text-field
            ref="email"
            v-model="email"
            label="E-mail"
            required
            placeholder="Введите e-mail"
            class="login-form__input"
            autocomplete="email"
            :rules="[rules.required, rules.email]"
          />
        </div>
        <div class="login-form__field">
          <v-text-field
            ref="username"
            v-model="username"
            label="Логин"
            required
            placeholder="Введите логин"
            class="login-form__input"
            autocomplete="username"
            :rules="[rules.required]"
          />
        </div>
        <div class="login-form__field">
          <v-text-field
            ref="password"
            v-model="password"
            label="Новый пароль (не менее 4 символов)"
            required
            placeholder="Введите пароль"
            class="login-form__input"
            type="password"
            autocomplete="new-password"
            :rules="[rules.required]"
          />
        </div>
        <div class="login-form__field">
          <v-text-field
            ref="password_repeat"
            v-model="password_repeat"
            label="Повтор нового пароля"
            required
            placeholder="Повторно введите пароль"
            class="login-form__input"
            type="password"
            autocomplete="new-password"
            :rules="[rules.required, rules.passMatches]"
          />
        </div>
        <div class="login-form__field-btn password">
          <button 
            v-ripple 
            :disabled="disableLoginButton"
            :class="{'disabled': disableLoginButton}" 
            type="submit" 
            class="login-form__btn login-form__btn_submit">Регистрация</button>
          <button
            v-ripple
            @click="onCancelBtnClick"
            v-if="redirectParams && redirectParams.cancelBtn"
            type="button"
            class="login-form__btn login-form__btn_cancel">Отмена
          </button>
        </div>
        <div class="login-form__footer">
          <nuxt-link
            class="login-form__link"
            to="/login/">Назад</nuxt-link>
        </div>
        <div class="login-form__footer">
          <button type="button" class="login-form__link" @click="feedbackVisible = true">
            Обратная связь
          </button>
        </div>
      </form>
    </div>
    <Feedback v-model="feedbackVisible" />
  </div>
</template>

<script>
import Snotify from 'vue-snotify'
import { mapActions } from 'vuex'
import Feedback from '~/components/base/Feedback';

export default {
  name: 'AdminAuthPage',
  layout: 'admin',
  components: {
    Feedback,
  },
  data() {
    return {
      feedbackVisible: false,
      username: '',
      email: '',
      password: '',
      password_repeat: '',
      rules: {
        passMatches: () =>
          this.password === this.password_repeat || 'Пароли должны совпадать',
        required: value => !!value || 'Обязательно для заполнения.',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Неверный адрес электронной почты.'
        },
      }
    }
  },
  computed: {
    disableLoginButton() {
      return !this.username || !this.email || !this.password || !this.password_repeat
    },
    redirectParams() {
      return this.$store.state.auth.redirectParams;
    }
  },
  mounted() {
    this.$refs.username.$refs.input.addEventListener(
      'animationend',
      this.fixAutoFilledInput
    )
    this.$refs.email.$refs.input.addEventListener(
      'animationend',
      this.fixAutoFilledInput
    )
    this.$refs.password.$refs.input.addEventListener(
      'animationend',
      this.fixAutoFilledInput
    )
    this.$refs.password_repeat.$refs.input.addEventListener(
      'animationend',
      this.fixAutoFilledInput
    )
  },
  methods: {
    ...mapActions({
      register: 'auth/register',
      authenticate: 'auth/authenticate'
    }),
    onsubmit() {
      if (this.password === this.password_repeat) {
        const data = {
          login: this.email,
          username: this.username,
          password: this.password
        };
        this.register(data)
          .then(() => {
            this.authenticate({
              username: this.email,
              password: this.password
            })
              .then(() => {
                this.$store.commit('auth/SET_DATA', {
                  authorized: true,
                });
                this.toast = this.$snotify.success(
                  `Вы успешно зарегистрировались`,
                  {
                    position: 'centerTop',
                    titleMaxLength: 100
                  }
                );
                setTimeout(() => {
                  if (this.redirectParams) {
                    const routeParams = JSON.parse(JSON.stringify(this.redirectParams.routeParams));
                    routeParams.params.info = null;
                    this.$store.commit('auth/setRedirectParams', null);
                    this.$router.push(routeParams);
                  } else {
                    this.$router.push('/');
                  }
                }, 3000);
              })
              .catch(err => {
                this.$snotify.error(
                  `Информация об ошибке: ${err.response && err.response.data.Error}`,
                  `Не удалось авторизоваться!`,
                  {
                    position: 'centerTop',
                    titleMaxLength: 100
                  }
                )
              })
          })
          .catch(err => {
            this.$snotify.error(
              `Информация об ошибке: ${err.response && err.response.data.Error}`,
              `Не удалось зарегистрироваться!`,
              {
                position: 'centerTop',
                titleMaxLength: 100
              }
            )
          })
      } else {
        this.$refs.password_repeat.$refs.input.setCustomValidity(
          'Пароли должны совпадать'
        )
      }
    },
    fixAutoFilledInput(e) {
      e.target.previousSibling.classList.add('v-label--active')
    },
    onCancelBtnClick() {
      if (!this.redirectParams) {
        return;
      }
      const routeParams = JSON.parse(JSON.stringify(this.redirectParams.routeParams));
      routeParams.params.showComments = false;
      routeParams.params.modalOpen = false;
      this.$store.commit('auth/setRedirectParams', null);
      this.$router.push(routeParams);
    },
  }
}
</script>

<style lang="scss">
.login-form {
  &.password {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__field-btn.password {
    margin-bottom: 16px;
  }
}

.login-page__title {
  &.password {
    margin-bottom: 44px;
  }
}
</style>
