<template>
  <div class="vote-map-controls">
    <div class="map-controls mapboxgl-ctrl mapboxgl-ctrl-group">
      <Search/>
      <button @click="$bus.$emit('zoomIn')" class="mapboxgl-ctrl-icon" v-tooltip="'Увеличить масштаб'">
        <span class="m_plus"><span class="icon-Frame-183"></span></span>
      </button>
      <button @click="$bus.$emit('zoomOut')" class="mapboxgl-ctrl-icon" v-tooltip="'Уменьшить масштаб'">
        <span class="m_minus"><span class="icon-Frame"></span></span>
      </button>
    </div>
    <div class="map-controls mapboxgl-ctrl mapboxgl-ctrl-group">
      <button @click="$bus.$emit('fullScreenToggle')" class="mapboxgl-ctrl-icon mapboxgl-ctrl-icon_fullscreen"
              v-tooltip="'На весь экран'" v-if="!fullscreen">
        <FullScreenIcon class="map-controls__icon map-controls__icon_fullscreen"/>
      </button>
      <button @click="$bus.$emit('fullScreenToggle')" class="mapboxgl-ctrl-icon mapboxgl-ctrl-icon_fullscreen"
              v-tooltip="'На весь экран'" v-if="fullscreen">
        <FullScreenReverseIcon class="map-controls__icon map-controls__icon_fullscreen"/>
      </button>
    </div>
    <div class="map-controls mapboxgl-ctrl mapboxgl-ctrl-group">
      <button @click="$bus.$emit('centerRoute', {duration: 1000})" class="mapboxgl-ctrl-icon"
              v-tooltip="'Центрировать маршрут'">
        <CenterRouteIcon class="map-controls__icon map-controls__icon_center"/>
      </button>
    </div>
  </div>
</template>

<script>
  import CenterRouteIcon from '~/components/svg/CenterRouteIcon';
  import FullScreenIcon from '~/components/svg/FullScreenIcon';
  import FullScreenReverseIcon from '~/components/svg/FullScreenReverseIcon';
  import Search from '~/components/Search';

  export default {
    components: {
      CenterRouteIcon,
      FullScreenIcon,
      FullScreenReverseIcon,
      Search,
    },
    data() {
      return {
        fullscreen: false
      }
    },
    created() {
      document.onfullscreenchange = (e) => {
        if (document.fullscreen || document.webkitIsFullScreen) {
          this.fullscreen = true;
        }
        else {
          this.fullscreen = false;
        }
      }
    }
  }
</script>

<style lang="scss">
  .vote-map-controls {
    .search-field {
      left: auto;
      right: 100%;
      margin-left: 0;
      margin-right: 12px;
    }
  }
</style>
