<template>
  <div class="discussions-box">
    <div class="discussions-header">
      <button @click="modalVisible = true" class="discussions-header__btn">
        <span v-if="discussions.length" class="discussions-header__count">{{discussions.length}}</span>
        <DiscussionsIcon class="discussions-header__icon"/>
      </button>
    </div>
    <v-dialog v-model="modalVisible" max-width="650px" content-class="modal-custom-scroll">
      <div
        @mousedown="onMouseDown"
        class="modal discussions-modal"
        :class="{
          modal_drag: dragActive,
        }"
        :style="{
          transform: `translate(${x}px, ${y}px)`,
        }"
      >
        <button v-tooltip="'Закрыть'" class="modal__close-btn discussions-modal__close-btn" @click="modalVisible = false">
          <CloseIcon class="modal__close-icon"/>
        </button>
        <div class="modal__body">
          <div v-bar>
            <div>
              <Discussions
                :hideModal="() => modalVisible = false"
                :discussionsTree="discussionsTree"
                :commentsCount="discussions.length"
                @send="send"
              />
            </div>
          </div>
        </div>
      </div>
    </v-dialog>
  </div>
</template>

<script>
  import Discussions from '~/components/Discussions';
  import DiscussionsIcon from '~/components/svg/DiscussionsIcon';
  import CloseIcon from '~/components/svg/CloseIcon';
  import {mapActions} from 'vuex';

  export default {
    components: {
      DiscussionsIcon,
      CloseIcon,
      Discussions,
    },
    props: [
      'vote'
    ],
    data() {
      return {
        modalVisible: false,
        dragActive: false,
        startClientX: 0,
        startClientY: 0,
        startX: 0,
        startY: 0,
        x: 0,
        y: 0,
      }
    },
    methods: {
      ...mapActions({
        sendPollDiscussionsComment: 'polls/sendPollDiscussionsComment',
        getPolllDiscussions: 'polls/getPolllDiscussions',
      }),
      send(data) {
        this.sendPollDiscussionsComment({
          guid: this.vote.id,
          parentGid: data.parentGid,
          textField: data.textField,
        })
      },
      onMouseDown(e) {
        if (e.button === 0) {
          this.startClientX = e.clientX;
          this.startClientY = e.clientY;
          this.startX = this.x;
          this.startY = this.y;
          this.dragActive = true;
        }
      },
      mouseUp() {
        this.dragActive = false;
      },
      mouseMove(e) {
        if (this.dragActive) {
          this.x = this.startX + e.clientX - this.startClientX;
          this.y = this.startY + e.clientY - this.startClientY;
        }
      }
    },
    computed: {
      discussions() {
        return this.$store.state.polls.discussions;
      },
      discussionsTree() {
        const tree = {};
        this.discussions.forEach(comment => {
          const pathArr = comment.parentPath.split('.');
          let temp = tree;
          pathArr.forEach((path, ind) => {
            if (ind === pathArr.length - 1) {
              if (!temp[path]) {
                temp[path] = {children: {}};
              }
              if (!temp[path].children) {
                temp[path].children = {};
              }
              if (!temp[path].children[comment.commentGid]) {
                temp[path].children[comment.commentGid] = comment;
              } else {
                temp[path].children[comment.commentGid] = {
                  ...temp[path].children[comment.commentGid],
                  ...comment
                }
              }
            } else {
              if (!temp[path]) {
                temp[path] = {children: {}};
              }
              if (!temp[path].children) {
                temp[path].children = {}
              }
              temp = temp[path].children;
            }
          });
        });
        return tree;
      },
      discussionsSending() {
        return this.$store.state.polls.discussionsSending;
      },
      discussionsLoading() {
        return this.$store.state.polls.discussionsLoading;
      }
    },
    mounted() {
      if (this.$route.params.showComments) {
        this.modalVisible = true;
      }
      document.addEventListener('mouseup', this.mouseUp);
      document.addEventListener('mousemove', this.mouseMove);
    },
    beforeDestroy() {
      document.removeEventListener('mouseup', this.mouseUp);
      document.removeEventListener('mousemove', this.mouseMove);
    },
    watch: {
      modalVisible(visible) {
        if (!visible) {
          this.x = 0;
          this.y = 0;
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .discussions-header {
    margin-right: 20px;
    margin-top: 4px;

    &__btn {
      position: relative;
    }

    &__count {
      position: absolute;
      top: -14px;
      right: -8px;
      font-size: 11px;
      background-color: #2196f3;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      line-height: 14px;
      color: #fff;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 3px;
    }

    &__icon {
      width: 24px;
      height: 24px;
    }
  }

  .discussions-comments {
    list-style: none;
    padding: 0;

    &__empty {
      font-size: 16px;
    }
  }

  .discussions-modal {
    position: relative;

    &__close-btn {
      position: absolute;
      top: 0;
      right: 0;
      padding: 13px;
      z-index: 1;
    }
  }
</style>
