<template>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="10" viewBox="0 0 7 10"><defs><path id="12rxa" d="M180.95 27l-3.45 3.73-3.45-3.73-1.05 1.135L177.5 33l4.5-4.865z"/></defs><g><g transform="translate(-174 -25)"><use fill="#9b9b9b" xlink:href="#12rxa"/></g></g></svg>
</template>
