<template>
  <svg width="16px" height="20px" viewBox="0 0 16 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(-637.000000, -3100.000000)" fill="#747474" fill-rule="nonzero">
        <path d="M650.818182,3107.44926 L650.818182,3105.37037 C650.818182,3102.40926 648.208,3100 645,3100 C641.792,3100 639.181818,3102.40926 639.181818,3105.37037 L639.181818,3107.44926 C637.945091,3107.6663 637,3108.76407 637,3110.08519 L637,3117.32296 C637,3118.79889 638.179273,3120 639.628727,3120 L650.371273,3120 C651.820727,3120 653,3118.79889 653,3117.32259 L653,3110.08481 C653,3108.76407 652.054909,3107.6663 650.818182,3107.44926 Z M639.909091,3105.37037 C639.909091,3102.81741 642.192727,3100.74074 645,3100.74074 C647.807273,3100.74074 650.090909,3102.81741 650.090909,3105.37037 L650.090909,3107.40741 L639.909091,3107.40741 L639.909091,3105.37037 Z M652.272727,3117.32259 C652.272727,3118.39037 651.419636,3119.25926 650.371273,3119.25926 L639.628727,3119.25926 C638.580364,3119.25926 637.727273,3118.39037 637.727273,3117.32259 L637.727273,3110.08481 C637.727273,3109.01704 638.580364,3108.14815 639.628727,3108.14815 L650.371273,3108.14815 C651.419636,3108.14815 652.272727,3109.01704 652.272727,3110.08481 L652.272727,3117.32259 Z"></path>
      </g>
    </g>
  </svg>
</template>
