<template>
  <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 55 (78076) - https://sketchapp.com -->
    <title>icons8-unavailable</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Cписок-предложений" transform="translate(-829.000000, -496.000000)" fill="#F5A623" fill-rule="nonzero">
        <g id="Group-10" transform="translate(829.000000, 496.000000)">
          <g id="icons8-unavailable">
            <path d="M15,0 C6.73476717,0 0,6.73476717 0,15 C0,23.2652328 6.73476717,30 15,30 C23.2652328,30 30,23.2652328 30,15 C30,6.73476717 23.2652328,0 15,0 Z M15,1.30434783 C22.5578107,1.30434783 28.6956522,7.44218935 28.6956522,15 C28.6956522,22.5578107 22.5578107,28.6956522 15,28.6956522 C7.44218935,28.6956522 1.30434783,22.5578107 1.30434783,15 C1.30434783,7.44218935 7.44218935,1.30434783 15,1.30434783 Z M15,2.60869565 C12.0806576,2.60869565 9.39237261,3.63278824 7.27326783,5.32821 L6.70516304,5.7829487 L24.2170513,23.294837 L24.67179,22.7267322 C26.367212,20.6076274 27.3913043,17.9193424 27.3913043,15 C27.3913043,8.17343413 21.8265659,2.60869565 15,2.60869565 Z M15,3.91304348 C21.1190863,3.91304348 26.0869565,8.8809137 26.0869565,15 C26.0869565,17.3457815 25.27056,19.4623343 24.0221635,21.2555198 L8.74448022,5.97783652 C10.5376657,4.72943954 12.6542185,3.91304348 15,3.91304348 Z M5.7829487,6.70516304 L5.32821,7.27326783 C3.63278824,9.39237261 2.60869565,12.0806576 2.60869565,15 C2.60869565,21.8265659 8.17343413,27.3913043 15,27.3913043 C17.9193424,27.3913043 20.6076274,26.367212 22.7267322,24.67179 L23.294837,24.2170513 L5.7829487,6.70516304 Z M5.97783652,8.74448022 L21.2555198,24.0221635 C19.4623343,25.27056 17.3457815,26.0869565 15,26.0869565 C8.8809137,26.0869565 3.91304348,21.1190863 3.91304348,15 C3.91304348,12.6542185 4.72943954,10.5376657 5.97783652,8.74448022 Z" id="Shape"></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>
