<template>
  <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="UI-Kit" stroke="none" stroke-width="1" fill-rule="evenodd">
      <g id="Molecules/Sorting-and-filter" transform="translate(-540.000000, -6749.000000)">
        <g id="Group-4-Copy-11" transform="translate(540.000000, 6749.000000)">
          <polygon id="Fill-1" points="0 14 10.5826772 14 10.5826772 13.125 0 13.125"></polygon>
          <polygon id="Fill-2" points="0 11.375 8.81889764 11.375 8.81889764 10.5 0 10.5"></polygon>
          <polygon id="Fill-3" points="0 8.75 7.05511811 8.75 7.05511811 7.875 0 7.875"></polygon>
          <polygon id="Fill-4" points="0 6.125 5.29133858 6.125 5.29133858 5.25 0 5.25"></polygon>
          <polygon id="Fill-5" points="0 3.5 3.52755906 3.5 3.52755906 2.62502734 0 2.62502734"></polygon>
          <polygon id="Fill-6" points="0 0.875 1.76377953 0.875 1.76377953 0 0 0"></polygon>
          <polygon id="Fill-7" points="11.9055118 3.4999918 11.9055118 12.2876441 11.3353701 11.7219293 10.711874 12.3405543 12.3464567 13.9623668 13.9810394 12.3405543 13.3575433 11.7219293 12.7874016 12.2876441 12.7874016 3.4999918"></polygon>
          <polygon id="Fill-8" points="11.9055118 2.625 12.7874016 2.625 12.7874016 1.75 11.9055118 1.75"></polygon>
          <polygon id="Fill-9" points="11.9055118 0.875 12.7874016 0.875 12.7874016 0 11.9055118 0"></polygon>
        </g>
      </g>
    </g>
  </svg>

</template>
