<template>
  <svg width="20px" height="20px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Было-стало" transform="translate(-883.000000, -442.000000)" fill="#9B9B9B" fill-rule="nonzero">
              <g id="Group-5" transform="translate(883.000000, 442.000000)">
                  <path d="M0,15 C0,6.71572849 6.71572849,0 15,0 C23.2842715,0 30,6.71572849 30,15 C30,23.2842715 23.2842715,30 15,30 C6.71572849,30 0,23.2842715 0,15 Z M15,29.4 C22.9529006,29.4 29.4,22.9529006 29.4,15 C29.4,7.04709942 22.9529006,0.6 15,0.6 C7.04709942,0.6 0.6,7.04709942 0.6,15 C0.6,22.9529006 7.04709942,29.4 15,29.4 Z" id="Shape-Copy"></path>
                  <path d="M15.5,8 C12.462625,8 10,10.5585714 10,13.7142857 C10,18 14.8125,19.4285714 14.8125,22.2857143 C14.8125,22.68 15.1205,23 15.5,23 C15.8795,23 16.1875,22.68 16.1875,22.2857143 C16.1875,19.4285714 21,18 21,13.7142857 C21,10.5585714 18.537375,8 15.5,8 Z M15.5,12.2857143 C16.2596875,12.2857143 16.875,12.925 16.875,13.7142857 C16.875,14.5035714 16.2596875,15.1428571 15.5,15.1428571 C14.7403125,15.1428571 14.125,14.5035714 14.125,13.7142857 C14.125,12.925 14.7403125,12.2857143 15.5,12.2857143 Z" id="Shape"></path>
              </g>
          </g>
      </g>
  </svg>
</template>
