<template>
  <div class="discussions">
    <h4
      class="discussions__title"
      :class="{
        'discussions__title_empty': !commentsCount
      }"
    >
      <label>
        <span v-if="commentsCount === 0">Нет комментариев. Будьте первым!</span>
        <span v-else>Комментарии: {{commentsCount}}</span>
      </label>
    </h4>
    <div
      class="discussions__field"
      :class="{
        'discussions__field_active': message.length || focused
      }"
    >
      <span
        v-if="authorized && !focused && !message.length"
        class="discussions__placeholder"
      >
        <DiscussionsIcon class="discussions__icon" />
        Напишите ваш комментарий
      </span>
      <span
        v-if="!authorized"
        class="discussions__placeholder discussions__placeholder_locked"
      >
        <span><LockedIcon class="discussions__icon-locked" />
        Комментирование доступно только зарегистрированным пользователям</span>
        <span class="discussions-auth">
          <v-btn @click="onAuthClick" class="discussions-auth__btn discussions-auth__btn_auth">Войти/зарегистрироваться</v-btn>
          <v-btn @click="onAuthCancel" class="discussions-auth__btn discussions-auth__btn_cancel">Отмена</v-btn>
        </span>
      </span>
      <span
        v-if="message.length || focused"
        class="discussions__count"
      >
        <span :style="{
          color: message.length <= maxMessageLength ? '#4CAE50' : '#D0021B'
        }">{{message.length}}</span> / {{maxMessageLength}}
      </span>
      <textarea
        v-model="message"
        class="discussions__textarea"
        :class="{
          'discussions__textarea_active': message.length || focused
        }"
        name="message"
        id="message" cols="30"
        rows="10"
        @focus="focused = true"
        @blur="focused = false"
        :disabled="!authorized"
      ></textarea>
      <div class="discussions__buttons">
        <button @click="message = ''">Отменить</button>
        <button @click="sendMessage" :disabled="!message.trim().length">Отправить</button>
      </div>
    </div>
    <ul
      class="discussions-comments"
      v-if="discussionsTree && discussionsTree.root && discussionsTree.root.children && Object.values(discussionsTree.root.children).length"
    >
      <DiscussionsTreeItem
        v-for="comment in discussionsTree.root.children"
        :key="comment.commentGid"
        :item="comment"
        @send="sendMessage"
      />
    </ul>
  </div>
</template>

<script>
  import DiscussionsIcon from '~/components/svg/DiscussionsIcon';
  import LockedIcon from '~/components/svg/LockedIcon';
  import DiscussionsTreeItem from '~/components/Discussions/DiscussionsTreeItem';
  export default {
    props: ['discussionsTree', 'commentsCount', 'hideModal'],
    components: {
      DiscussionsIcon,
      LockedIcon,
      DiscussionsTreeItem
    },
    data() {
      return {
        focused: false,
        message: '',
        maxMessageLength: 300
      }
    },
    methods: {
      sendMessage(data) {
        if (data.textField) {
          this.$emit('send', data);
        } else {
          this.$emit('send', {
            textField: this.message
          });
          this.message = '';
        }
      },
      onAuthClick() {
        this.$store.commit('auth/setRedirectParams', {
          cancelBtn: true,
          routeParams: {
            name: this.$route.name,
            query: this.$route.query,
            params: {
              ...this.$route.params,
              showComments: true,
              info: {
                status: 'info',
                text: 'Комментирование доступно только зарегистрированным пользователям'
              },
            }
          }
        });
        this.$router.push('/login');
      },
      onAuthCancel() {
        if (this.hideModal) {
          this.hideModal();
        }
        this.$snotify.info(
          'Комментирование доступно только зарегистрированным пользователям',
          {
            position: 'centerTop',
            titleMaxLength: 100
          }
        );
      }
    },
    computed: {
      authorized() {
        return this.$store.state.auth.data.authorized;
      },
    }
  }
</script>

<style lang="scss" scoped>
  .discussions {
    width: 100%;
    min-width: 596px;
    font-weight: 300;
    &__title {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 26px;
      font-weight: 300;
      margin-bottom: 25px;
      text-align: center;
      padding-right: 36px;
    }
    &__textarea {
      border: 1px solid #EBEBEB;
      resize: none;
      border-radius: 5px;
      width: 100%;
      height: 60px;
      outline: none;
      background-color: transparent;
      position: relative;
      z-index: 2;
      display: block;
      margin-bottom: 10px;
      &_active {
        padding: 23px;
        height: 150px;
      }
    }
    &__field {
      position: relative;
      margin-bottom: 20px;
      &_active {
        .discussions__buttons {
          display: flex;
        }
      }
    }
    &__placeholder {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      padding: 19px;
      font-size: 14px;

      &_locked {
        flex-direction: column;
        & + .discussions__textarea {
          height: 120px;
          z-index: 0;
        }
      }
    }
    &__icon {
      margin-right: 15px;
      width: 17px;
      height: 16px;
    }
    &__icon-locked {
      width: 16px;
      height: 20px;
      margin-right: 15px;
    }
    &__count {
      position: absolute;
      right: 0;
      top: -23px;
    }
    &__buttons {
      display: none;
      justify-content: flex-end;
      button {
        font-weight: 400;
        border-radius: 5px;
        text-transform: uppercase;
        min-width: 135px;
        height: 40px;
        &[disabled] {
          opacity: .5;
        }
        &:nth-child(1) {
          color: #8D8D8D;
          border: 1px solid #E0E0E0;
        }
        &:nth-child(2) {
          background-color: #2F7CE6;
          color: #fff;
          margin-left: 10px;
        }
      }
    }
  }
  .discussions-comments {
    list-style: none;
    padding-left: 0;
    border-top: 1px solid #EBEBEB;
    overflow: hidden;
  }
  .discussions-auth {
    margin-top: 13px;
  }
</style>
