<template>
    <ul class="items-list"><slot/></ul>
</template>

<script>
    export default {
        name: "ItemsList"
    }
</script>

<style lang="scss">
    .items-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
</style>
