<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="19" viewBox="0 0 24 19"><path d="M5 3.826L1.414 7.407 0 5.993 6 0l1.414 1.414-.003.003 4.583 4.589L10.58 7.42 7 3.834V17H5V3.826zm13.995 11.348l3.586-3.582 1.414 1.414L17.994 19l-1.415-1.414.003-.003L12 12.994l1.414-1.414 3.58 3.585V2h2v13.174z" fill="#A2A9B1" fill-rule="evenodd"/></svg>
</template>
