<template>
  <label class="checkbox" v-tooltip="tooltip">
    <input :type="type"
           :name="name"
           class="visually-hidden checkbox__input"
           :checked="checked"
           :disabled="disabled"
           @change="$emit('change', $event.target.checked)">
    <span class="checkbox__icon">
            <span class="checkbox__parts"></span>
            <CheckIcon class="checkbox__check" />
        </span>
    <span v-if="hasSlot" class="checkbox__label"><slot/></span>
  </label>
</template>

<script>
  import CheckIcon from '~/components/svg/CheckIcon'
  export default {
    name: "Checkbox",
    components: {
      CheckIcon
    },
    data() {
      return {}
    },
    model: {
      prop: 'checked',
      event: 'change'
    },
    props: {
      name: String,
      checked: null,
      disabled: null,
      type: {
        type: String,
        default: 'checkbox'
      },
      tooltip: false
    },
    computed: {
      hasSlot() {
        return !!this.$slots.default;
      }
    }
  }
</script>

<style lang="scss">
  .checkbox {
    display: inline-flex;
    cursor: pointer;
    &__icon {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      width: 18px;
      height: 18px;
      padding: 3px;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      transition: .3s ease;
      flex-shrink: 0;
    }
    &__icon:hover &__parts {
      &::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        content: "";
        background-color: rgba(1, 148, 211, .1);
        height: 40px;
        width: 40px;
        border-radius: 100%;
      }
    }
    &__check {
      width: 100%;
      height: 100%;
      fill: transparent;
    }
    &__label {
      display: inline-block;
      margin-left: 15px;
      vertical-align: middle;
      margin-top: -2px;
      user-select: none;
    }
    &__input:checked + &__icon {
      position: relative;
      border-color: var(--color-primary);
      background-color: var(--color-primary);
      &::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        content: "";
        background-color: #1A66CC;
        height: 4px;
        width: 4px;
        border-radius: 100%;
        z-index: 1;
        opacity: 0;
        margin: 0;
        animation: rippleOn 700ms forwards ease-out;
      }
    }
    &.radio &__input + &__icon,
    &__input[type = "radio"] + &__icon {
      border-radius: 100%;
    }
    &__input:checked + &__icon &__check {
      fill: #ffffff;
    }
    &.radio &__input + &__icon &__check,
    &__input[type = "radio"] + &__icon &__check {
      display: none;
    }
    &.radio &__input:checked + &__icon,
    &__input[type = "radio"]:checked + &__icon {
      background-color: var(--color-white);
      &::after {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 9px;
        height: 9px;
        background-color: var(--color-primary);
        content: "";
        border-radius: 50%;
        animation: rippleOnAfter 300ms forwards ease-out;
      }
    }
    &__input:checked ~ &__label {
      color: var(--colorSecondary);
    }
    &__input:disabled ~ &__icon {
      background-color: #c4c4c4;
      border: 1px solid #c4c4c4;
    }
    &__input:disabled + &__icon &__check {
      fill: #ffffff;
    }
    &__input:disabled ~ &__label {
      opacity: .5;
    }
    @keyframes rippleOn {
      0% {
        opacity: .5;
      }
      100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(13, 13);
      }
    }
    @keyframes rippleOnAfter {
      0% {
        transform: translate(-50%, -50%) scale(0);
      }
      100% {
        transform: translate(-50%, -50%) scale(1);
      }
    }
    @keyframes rippleOff {
      0% {
        opacity: .5;
      }
      100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(13, 13);
      }
    }
  }
</style>
