<template>
  <v-menu
    ref="menuOpen"
    v-model="menuOpen"
    :close-on-content-click="false"
    transition="scale-transition"
    offset-y
    max-width="580px"
    min-width="580px"
    nudge-top="-2"
  >
    <template v-slot:activator="{ on }">
      <div
        class="range-field v-input v-input--hide-details v-input--is-label-active theme--light v-text-field"
        :class="{
                  'primary--text v-input--is-focused': menuOpen,
                }"
        v-on="on"
      >
        <div
          :style="{
            minWidth: minWidth ? `${minWidth}px` : 'auto'
          }"
          class="v-input__control"
        >
          <div class="v-input__slot">
            <div v-if="label" class="range-field__label">{{label}}</div>
            <div class="range-field__value">{{value.length ? value.map(d =>
              moment(d).format('DD-MM-YYYY')).join(' - ') : noSelectedText}}
            </div>
          </div>
        </div>
      </div>
    </template>
    <div class="d-flex">
      <v-date-picker
        :value="start"
        @click:date="onStartChange"
        no-title
        first-day-of-week="1"
        range
      >
      </v-date-picker>
      <v-date-picker
        :value="end"
        @click:date="onEndChange"
        no-title
        first-day-of-week="1"
        range
      >

        <v-spacer></v-spacer>
        <v-btn @click="onResetClick" text color="primary">Сброс</v-btn>
        <v-btn
          @click="onSubmitClick"
          :disabled="start.length === 1 || end.length === 1"
          text color="primary"
        >Подтвердить
        </v-btn>
      </v-date-picker>
    </div>
  </v-menu>
</template>

<script>
  import moment from 'moment';
  export default {
    props: ['value', 'label', 'minWidth', 'noSelected'],
    data() {
      return {
        start: [],
        end: [],
        moment,
        menuOpen: false,
        noSelectedText: 'Любая'
      }
    },
    methods: {
      onStartChange(start) {
        let end = this.end[1] || this.end[0];
        if (end) {
          if (end < start) {
            start = end;
          }
          this.start = this.end = [start, end];
        } else {
          this.start = [start];
        }
      },
      onEndChange(end) {
        let start = this.start[0];
        if (start) {
          if (start > end) {
            end = start;
          }
          this.start = this.end = [start, end];
        } else {
          this.end = [end];
        }
      },
      onResetClick() {
        this.start = [];
        this.end = [];
        this.$emit('input', []);
        setTimeout(() => {
          if (this.value.length) {
            this.start = [...this.value];
            this.end = [...this.value];
          }
        })
      },
      onSubmitClick() {
        this.$emit('input', this.start.length === 2 && this.end.length === 2 ? [this.start[0], this.end[1]] : []);
        this.menuOpen = false;
      }
    },
    watch: {
      menuOpen(open) {
        if (open) {
          if (!this.value.length) {
            this.start = [];
            this.end = [];
          } else {
            this.start = [...this.value];
            this.end = [...this.value];
          }
        }
      }
    },
    mounted() {
      if (this.noSelected) {
        this.noSelectedText = this.noSelected;
      }
    }
  }
</script>

<style lang="scss">
  .range-field {
    cursor: pointer;
    padding-top: 0;
    margin: 0;
    .v-select {
      margin: 0;
    }

    .v-input__slot {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__label {
      font-size: 12px;
      font-weight: 300;
      color: #2b7ae6;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-11px);
      white-space: nowrap;
    }

    &__value {
      font-weight: 300;
      font-size: 16px;
      min-width: 150px;
      color: rgba(0, 0, 0, 0.87);
      white-space: nowrap;
      padding: 8px 0;
      line-height: 16px;
    }
  }
</style>
