.data-table {
  &__actions {
    display: flex;
    background-color: #1A66CC;
    color: #fff;
  }

  &__actions-btn {
    display: block;
    font-weight: 300;
    padding: 13px 20px;
    font-size: 16px;
  }

  .v-datatable__actions {
    .v-select {
      display: flex;
      align-items: center;

      .v-input__prepend-outer {
        color: rgba(0, 0, 0, 0.54);
        font-size: 12px;
        font-family: Roboto, sans-serif;
        font-weight: 400;
      }
    }
  }
}

table.v-table tbody td {
  font-weight: 300;
}

.v-data-table.v-datatable.theme--light {
  td {
    color: #000;
    font-size: 14px;
    padding: 0 14px;
    font-weight: 300;
    border-bottom: 0 !important;
    height: 40px;
  }

  th {
    white-space: nowrap;
    color: #828c96;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
    border-bottom: 0 !important;
  }

  .v-data-footer {
    border-top: 0 !important;
    font-size: 18px;
    color: #828c96;
    font-weight: 300;
  }
}

.theme--light.v-table thead tr:first-child,
.theme--light.v-table tbody tr:not(:last-child) {
  border-bottom: 0;
}

.theme--light.v-datatable .v-datatable__actions {
  border-top: 0;
  font-size: 18px;
}

.v-data-table {
  tbody tr {
    cursor: pointer;

    &:hover,
    &.active,
    &.v-data-table__selected {
      background-color: #c4c4c4 !important;
    }
  }
}


