.v-pagination.theme--light {
  .v-pagination__navigation {
    display: none;
  }
  .v-pagination__item {
    outline: none;
    box-shadow: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    border-radius: 50%;
    margin: 5px 10px;
    &--active {
      background-color: #ebebeb !important;
    }
  }
}
