<template>
  <div
    class="route-params"
    :class="{
      'route-params_visible': paramsVisible
    }"
  >
    <v-btn v-if="!paramsVisible" @click="paramsVisible = true" class="route-params__btn" color="white">Параметры
      маршрута
    </v-btn>
    <div v-else class="route-params__wrap" v-bar>
      <div class="route-params__content">
        <div class="route-params__header">
          <h3 class="route-params__title">Общая информация информация по маршруту</h3>
        </div>
        <div class="route-params__row">
          <div class="route-params__column">
            <div class="route-params__items">
              <Param :data="routeProperties.from" />
              <Param :data="routeProperties.to" />
            </div>
            <div class="route-params__items">
              <Param :data="routeProperties.time" />
              <Param :data="routeProperties.lengthKm" />
              <Param :data="routeProperties.intervalMinutes" />
              <Param :data="{...routeProperties.mainRouteSpeed, title: 'Скорость движения'}" v-if="proposalCableway"/>
            </div>
            <div class="route-params__items">
              <Param :data="routeProperties.stopsNum" />
              <Param :data="routeProperties.vehiclesNum" />
            </div>
          </div>
          <div class="route-params__column">
            <div v-if="editorData.stopsList.mainRoute.stops.filter(s=> s).length > 1 && !proposalCableway" class="route-params__items">
              <Param :data="{type: 'label', label: 'прямое направление', bg: '#0080ff'}" />
              <Param :data="{...routeProperties.mainRouteTime, title: 'Время в пути'}" />
              <Param :data="{...routeProperties.mainRouteLengthKm, title: 'Длина маршрута'}" />
              <Param :data="{...routeProperties.mainRouteSpeed, title: 'Скорость движения'}" />
            </div>
            <div v-if="editorData.stopsList.backRoute.stops.filter(s=> s).length > 1 && !proposalCableway" class="route-params__items">
              <Param :data="{type: 'label', label: 'обратное направление', bg: '#008000'}" />
              <Param :data="{...routeProperties.backRouteTime, title: 'Время в пути'}" />
              <Param :data="{...routeProperties.backRouteLengthKm, title: 'Длина маршрута'}" />
              <Param :data="{...routeProperties.backRouteSpeed, title: 'Скорость движения'}" />
            </div>
          </div>
        </div>
        <div class="route-params__footer">
          <v-btn class="route-params__hide-btn" @click="paramsVisible = false">Скрыть</v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ArrowIcon from '~/components/svg/ArrowIcon';
  import editorData from '~/components/map/layers/editor';
  import {startRouteProperties} from '~/components/map/layers/editor';
  import Param from '~/components/Proposal/Param';

  export default {
    props: ['routeID'],
    components: {
      ArrowIcon,
      Param,
    },
    data() {
      return {
        editorData,
        paramsVisible: false,
      }
    },
    methods: {
      getHoursAndMinutes(minutes) {
        minutes = Math.abs(minutes);
        let result;
        if (minutes < 60) {
          result = `${minutes}`
        } else {
          if (Math.floor(minutes / 60) < 10) {
            result = `${Math.floor(minutes / 60)}ч.`
          } else {
            result = `${Math.floor(minutes / 60)}ч.`
          }
          if (minutes - Math.floor(minutes / 60) * 60 < 10) {
            result = `${result} ${minutes - Math.floor(minutes / 60) * 60}`
          } else {
            result = `${result} ${minutes - Math.floor(minutes / 60) * 60}`
          }
        }
        return result
      },
    },
    computed: {
      proposalCableway () {
        if (this.$route.query.viewMode) {
          const proposal = this.$store.state.proposals.allProposals.find((p) => {return p.id === this.$route.query.viewMode});
          if (proposal.routeMainType === 2) {
            return true;
          }
          else {
            return false;
          }
        }
        else {
          return this.$store.state.editor.cablewayEdit;
        }
      },
      cablewayEdit() {
        return this.$store.state.editor.cablewayEdit;//
      },
      routeProperties() {
        const routeProperties = {};
        Object.keys(this.editorData.routeProperties).forEach(propName => {
          if ((this.editorData.routeProperties[propName].value || this.editorData.routeProperties[propName].value === 0) && startRouteProperties[propName]) {
            let value;
            let diff = Math.round((this.editorData.routeProperties[propName].value - startRouteProperties[propName].value) * 100) / 100;
            let diffColor = diff > 0 ? 'red' : 'green';
            if (propName === 'stopsNum') {
              diffColor = diff > 0 ? 'green' : 'red';
            }
            value = this.editorData.routeProperties[propName].value;
            let hideDiffAutoSign = false;
            if (['mainRouteTime', 'backRouteTime', 'time'].includes(propName)) {
              if (value === 0) {
                value = 'менее 1'
              } else {
                value = this.getHoursAndMinutes(value);
              }
              if (diff !== 0) {
                const sign = diff > 0 ? '+' : '-';
                diff = `${sign}${this.getHoursAndMinutes(diff)}`;
                hideDiffAutoSign = true;
              }

            }
            if (propName === 'mainRouteSpeed' || propName === 'backRouteSpeed') {
              if (this.cablewayEdit) {
                value = 30;
              }
                diff = null;
            }
            routeProperties[propName] = {
              ...this.editorData.routeProperties[propName],
              value,
              diff: this.routeID
                ? diff
                : null,
              diffColor,
              hideDiffAutoSign
            }
          }
        });
        if (this.cablewayEdit) {
          if (routeProperties.mainRouteLengthKm !== undefined) {
            routeProperties.mainRouteLengthKm.hidden = true;
          }
          if (routeProperties.mainRouteTime !== undefined) {
            routeProperties.mainRouteTime.hidden = true;
          }
          if (routeProperties.lengthKm !== undefined) {
            routeProperties.lengthKm.title = "Длина маршрута";
          }
          if (routeProperties.time !== undefined) {
            routeProperties.time.title = "Время в пути";
          }
          if (routeProperties.mainRouteSpeed !== undefined) {
            routeProperties.mainRouteSpeed.title = "Скорость движения";
          }
        }
        return routeProperties
      },
    }
  }
</script>

<style lang="scss">
  .route-params {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    max-height: 100%;

    &_visible {
      width: 100%;
      right: 0;
      bottom: 0;
    }

    &__btn {
      box-shadow: 0 3px 10px rgba(10, 30, 50, 0.1), 0 1px 2px rgba(10, 30, 50, 0.152768) !important;
    }

    &__wrap {
      background-color: rgba(255, 255, 255, .75);
      display: flex;
      flex-direction: column;
    }

    &__content {
      padding: 15px;
      font-weight: 300;
    }

    &__header {
      position: relative;
      margin-bottom: 20px;
    }

    &__title {
      font-weight: 400;
    }

    &__footer {
      display: flex;
      justify-content: flex-end;
    }

    &__hide-btn {
      margin: 0;
    }

    &__row {
      display: flex;
      flex-wrap: wrap;
    }

    &__column {
      width: 50%;
      @media (max-width: 1024px) {
        width: 100%;
      }
    }

    &__items {
      margin-bottom: 20px;
    }
  }
</style>
