<template>
  <div class="footer_div">
    <div class="container">
      <div class="footer_menu a_bl">
        <div class="fl_el">
          <div class="fl_a">
            <nuxt-link to="/mostrans/for_journs/structure-of-the-department#otc" target="_blank">Организации
              Транспортного комплекса
            </nuxt-link>
          </div>
          <div class="fl_a">
            <nuxt-link class="menu_bottom2a" to="/mostrans/all_news">Новости</nuxt-link>
            <span class="menu_bottom2b">Новости</span></div>
          <!--<div class="fl_a"><a href="#">Культура</a></div>-->
        </div>
        <div class="fl_el">
          <div class="fl_a">
            <nuxt-link to="/help/faq">Вопрос&nbsp;— ответ</nuxt-link>
          </div>
          <div class="fl_a">
            <a @click="feedbackVisible = true">Обратная связь</a>
          </div>
          <div class="fl_a">
            <nuxt-link to="/metro/press_form">Подписка на&nbsp;новости</nuxt-link>
          </div>
          <div class="fl_a">
            <nuxt-link to="/mostrans/vacancies">Вакансии</nuxt-link>
          </div>
        </div>
        <div class="fl_el">
          <div class="fl_a">
            <a @click="toggleSpecial" class="spec-ver not_active">
              <img src="/img/glasses.svg" alt=""><span v-if="!specialActive">Версия для слабовидящих</span><span v-else>Обычная версия</span>
            </a>
          </div>
        </div>
      </div>
      <div class="footer_text footer_t1">
        <div class="footer_tit">Мы&nbsp;в&nbsp;соц. сетях</div>
        <div class="footer_soc soc_div">
          <a class="soc_el" href="https://www.facebook.com/mostransport/" target="blank_">
            <span class="icon-ico_facebook"></span>
          </a>
          <a class="soc_el" href="https://vk.com/transportmos" target="blank_">
            <span class="icon-ico_vk"></span>
          </a>
          <a class="soc_el" href="https://ok.ru/mostrans" target="blank_">
            <span class="icon-ico_odn"></span>
          </a>
          <a class="soc_el" href="https://twitter.com/DtRoad" target="blank_">
            <span class="icon-ico_tw"></span>
          </a>
          <a class="soc_el" href="https://www.instagram.com/mostransport/" target="blank_">
            <span class="icon-instagram"></span>
          </a>
        </div>
      </div>
      <div class="footer_text footer_t2">
        <div class="footer_tit"> Контакт-центр «Московский транспорт»</div>
        <div class="footer_num">
          <nobr class="phone"><a class="a_black2" href="tel:+74955395454">+7 495 539-54-54</a></nobr>
          <br><a class="a_black2" href="tel:3210">3210</a> <span
          class="footer_text2">(с&nbsp;мобильного телефона)</span></div>
      </div>
    </div>
    <Feedback v-model="feedbackVisible"/>
  </div>
</template>

<script>
  import Feedback from '~/components/base/Feedback';

  export default {
    components: {
      Feedback,
    },
    data() {
      return {
        specialActive: false,
        feedbackVisible: false,
      }
    },
    methods: {
      toggleSpecial() {
        this.specialActive = !this.specialActive;
        document.querySelector('html').classList.toggle('special', this.specialActive);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .footer_div {
    margin-top: -150px;
    padding-top: 24px;
    padding-bottom: 18px;
    line-height: 18px;
    font-size: 14px;
    background: #F5F6F7;
    min-height: 150px;
    @media (max-width: 992px) {
      display: none;
    }

    .container {
      padding: 0;

      &::after {
        display: block;
        clear: both;
        content: "";
      }

      & > div {
        @media (max-width: 767px) {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }

  .footer_menu {
    display: flex;
    float: left;

    .fl_el {
      margin-right: 32px;
    }

    .fl_a {
      margin-bottom: 12px;

      &:last-child {
        margin: 0;
      }
    }

    @media (max-width: 767px) {
      margin-bottom: 28px;
      order: 1;
    }
  }

  .footer_text {
    float: right;
    margin-left: 32px;
  }

  .footer_tit {
    margin-bottom: 6px;
  }

  .footer_text2 {
    line-height: 18px;
    font-size: 14px;
  }

  .footer_num {
    line-height: 26px;
    font-size: 20px;
  }

  .menu_bottom2b {
    display: none;
  }

  .soc_el {
    width: 30px;
    height: 30px;
    background: #E8EBED;
    color: #000000;
    text-decoration: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 16px;
  }

  .soc_el:hover {
    background: #DEE4E7;
    color: #000000;
  }

  .soc_div {
    display: flex;
  }

  .soc_div .soc_el {
    margin-right: 10px;
  }

  .soc_div a:last-child {
    margin-right: 0;
  }

  .soc_div .div_text {
    padding-top: 5px;
    margin-right: 10px;
  }
</style>
