<template>
  <div class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li
        v-for="(item, key) in items"
        :key="key"
        class="breadcrumbs__item"
      >
        <nuxt-link v-if="item.link" :to="item.link">{{item.text}}</nuxt-link>
        <span v-else>{{item.text}}</span>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    props: ['items'],
  }
</script>

<style lang="scss">
  .breadcrumbs {
    &__list {
      list-style: none;
      padding: 0;
      display: flex;
    }

    &__item {
      &:not(:last-child) {
        &::after {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 0 5px 6px;
          border-color: transparent transparent transparent #757575;
          content: '';
          display: inline-block;
          margin: 0 15px;
        }
      }
      a {
        color: #333333;
        text-decoration: none;
      }
      span {
        color: #989898;
      }
    }
  }
</style>
