<template>
  <span>Пожалуйста, подождите...</span>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  created() {
    if (this.$route.query.path && this.$route.query.token) {
      localStorage.setItem('token', this.$route.query.token);
      this.getRole();
      this.$router.push(this.$route.query.path);
    } else {
      this.$router.push('/');
    }
  },
  methods: {
    ...mapActions({
      getRole: 'users/getRole'
    }),
  }
}
</script>